<div class="grid grid-cols-1 rounded-md w-full mt-2 font-medium">
  <div [class.selected] = "stateSubhref" class="container-hrefs w-full  hover:bg-gray-100 col-span-1 p-1  rounded-r-full" (click)=" changeStateItems()">
    <a [routerLink]="href" class="block w-full">
      <div class="container-all  w-full grid grid-cols-5">
        <div class="p-2 mx-4 col-span-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 stroke-gray-400 " viewBox="0 0 640 512">
            <path [attr.d]="svgPath"></path>
          </svg>
        </div>
        <div class="p-2 mx-4  ml-2 col-span-3">
          {{ linkText }}
        </div>
        <div class="justify-end col-span-1 flex mr-4" *ngIf="!stateSubhref && subhref.length>0">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 stroke-gray-400" viewBox="0 0 640 512">
            <path [attr.d]="svgDown"></path>
          </svg>
        </div>
        <div class="justify-end col-span-1 flex mr-4" *ngIf="stateSubhref && subhref.length>0">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 stroke-gray-400" viewBox="0 0 640 512">
            <path [attr.d]="svgUp"></path>
          </svg>
        </div>
      </div>
    </a>
  </div>


  <div class="container-subhrefs w-full" *ngIf="stateSubhref" [class.opacity-0]="!stateSubhref">
    <div class="sub-items-href w-full bg-yellow grid grid-cols-6 text-center justify-center rounded-r" *ngFor="let items of subhref">
        <div class="col-span-2"></div>
        <div class="col-span-4 border-l-2 pl-5 border-solid border-gray-200">
            <a [routerLink]="items.href" class="block w-full relative">
                <div class="flex flex-row justify-start items-center rounded-md w-full h-10 mt-2 pl-2 overflow-hidden group">
                    <span class="relative">{{ items.linkText }}</span>
                    <span class="absolute bottom-0 left-0 w-full h-0.5 bg-blue-950 transform scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"></span>
                </div>
            </a>
        </div>
    </div>
</div>




</div>