.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: rgb(162, 24, 24);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container-logo {
  filter: grayscale(100%); /* Convertir la imagen a blanco y negro */
  filter: brightness(10000%);
  filter: brightness(0) invert(1);
}

.dropdown-content-show {
  display: block;
}
