<div class="px-14 py-5 bg-gray-100 font-projectFont">

  
    <h1 class="text-2xl font-bold text-blue-950 mt-8">Edición de Producto</h1>
  
    <p class="mt-4 font-projectFont">
      Modifique la información del producto:
    </p>
    <div class="p-4 col-span-1 w-full flex items-end justify-end text-lg">
      <button
      class="flex items-center justify-center h-10 min-w-14 rounded-xl bg-blue-950 text-white px-4 relative"
      (click)="goBack()"
    >
      <span class="rounded-full bg-white w-6 h-6 flex items-center justify-center mr-2">
        <i class="fas fa-arrow-left text-blue-950"></i>
      </span>
    </button>
    </div>
  
    <div class="container mx-auto mt-8">
      <div class="grid grid-cols-1 m-6 gap-6">
        <div class="p-4 bg-white rounded shadow">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="tipoItem" class="block text-sm font-medium text-gray-700">Nombre:</label>
                <input
                  type="text"
                  formControlName="itemType"
                  id="tipoItem"
                  placeholder="Ej: Banano"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
                <div *ngIf="editForm.get('itemType')?.touched && editForm.get('itemType')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('itemType')?.errors?.['required']">
                    El campo Nombre es requerido.
                  </div>
                </div>
              </div>

              <div>
                <label for="referencia" class="block text-sm font-medium text-gray-700">Referencia:</label>
                <input
                  type="text"
                  formControlName="reference"
                  id="referencia"
                  placeholder="Ej: tropical"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
              </div>

              <div>
                <label for="descripcion" class="block text-sm font-medium text-gray-700">Descripción:</label>
                <input
                  type="text"
                  formControlName="description"
                  id="descripcion"
                  placeholder="Ej: Fruta"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
                <div *ngIf="editForm.get('description')?.touched && editForm.get('description')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('description')?.errors?.['required']">
                    El campo Descripción es requerido.
                  </div>
                </div>
              </div>
              <div>
                <label for="minQuantity" class="block text-sm font-medium text-gray-700">Cantidad Mínima:</label>
                <input
                  type="number"
                  formControlName="minQuantity"
                  id="minQuantity"
                  min="0"
                  placeholder="Ej: 1"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
                <div *ngIf="editForm.get('minQuantity')?.touched && editForm.get('minQuantity')?.errors" class="text-red-500">
                  <div *ngIf="editForm.get('minQuantity')?.errors?.['required']">
                    El campo Cantidad Mínima es requerido.
                  </div>
                  <div *ngIf="editForm.get('minQuantity')?.errors?.['min']">
                    La Cantidad Mínima no puede ser negativa.
                  </div> 
                  
                </div>
              </div>

              <div>
                <label for="maxQuantity" class="block text-sm font-medium text-gray-700">Cantidad Máxima:</label>
                <input
                  type="number"
                  formControlName="maxQuantity"
                  id="maxQuantity"
                  min="0"
                  placeholder="Ej: 12"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
                  <div *ngIf="editForm.get('maxQuantity')?.touched && editForm.get('maxQuantity')?.invalid" class="text-red-500">
                      <div *ngIf="editForm.get('maxQuantity')?.errors?.['required']">
                        El campo Cantidad Máxima es requerido.
                      </div>
                      <div *ngIf="editForm.get('maxQuantity')?.errors?.['max']">
                        La Cantidad Máxima no puede ser negativa.
                      </div>                  
                  </div>

                  <div *ngIf="editForm.get('maxQuantity')?.touched || editForm.get('minQuantity')?.touched  " class="text-red-500">
                  <div *ngIf="+editForm.get('maxQuantity')?.value < +editForm.get('minQuantity')?.value || editForm.get('maxQuantity')?.errors?.['min']" class="text-red-500">
                    La cantidad máxima debe ser mayor que la cantidad mínima.
                  </div>
                  </div>

              </div>
              
              <div>
                <label for="taxPercentage" class="block text-sm font-medium text-gray-700">Porcentaje de IVA (%):</label>
                <input
                  type="number"
                  formControlName="taxPercentage"
                  id="taxPercentage"
                  min="0"
                  max="100"
                  placeholder="Ej: 0 - 100"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                />
                <div *ngIf="editForm.get('taxPercentage')?.touched && editForm.get('taxPercentage')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('taxPercentage')?.errors?.['required']">
                    El campo Porcentaje de IVA es requerido y debe estar entre 0 y 100.
                  </div>
                  <div *ngIf="editForm.get('taxPercentage')?.errors?.['min']">
                    El Porcentaje de IVA no puede ser negativo.
                  </div>
                  <div *ngIf="editForm.get('taxPercentage')?.errors?.['max']">
                    El Porcentaje de IVA no puede ser mayor que 100.
                </div>
              </div>
            </div>


            <div>
              <label for="unitOfMeasureId" class="block text-sm font-medium text-gray-700">Unidad de Medida:</label>
              <select formControlName="unitOfMeasureId" id="unitOfMeasureId" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                  <option value="">Selecciona una unidad de medida</option>
                  <option *ngFor="let unit of unitOfMeasures" [value]="unit.id">{{ unit.name }}</option>
              </select>
              <div *ngIf="editForm.get('unitOfMeasureId')?.touched && editForm.get('unitOfMeasureId')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('unitOfMeasureId')?.errors?.['required']">
                      El campo Unidad de Medida es requerido.
                  </div>
              </div>
          </div>
          

          <div>
            <label for="supplierId" class="block text-sm font-medium text-gray-700">Proveedor:</label>
            <select formControlName="supplierId" id="supplierId" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option value="">Selecciona un proveedor</option>
                <option *ngFor="let provider of thirdParties" [value]="provider.idNumber">{{ provider.names ? provider.names + ' ' + provider.lastNames : provider.socialReason }}</option>
            </select>
            <div *ngIf="editForm.get('supplierId')?.touched && editForm.get('supplierId')?.invalid" class="text-red-500">
                <div *ngIf="editForm.get('supplierId')?.errors?.['required']">
                    El campo Proveedor es requerido.
                </div>
            </div>
        </div>
        


        <div>
          <label for="categoryId" class="block text-sm font-medium text-gray-700">Categoría:</label>
          <select formControlName="categoryId" id="categoryId" class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
              <option value="">Selecciona una categoría</option>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div *ngIf="editForm.get('categoryId')?.touched && editForm.get('categoryId')?.invalid" class="text-red-500">
              <div *ngIf="editForm.get('categoryId')?.errors?.['required']">
                  El campo Categoría es requerido.
              </div>
          </div>
      </div>
      

              <div>
                <label for="price" class="block text-sm font-medium text-gray-700">Precio:</label>
                <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-2 text-gray-700">
                  $
                </span>
                <input
                  type="text"
                  formControlName="price"
                  id="price"
                  min="0"
                  placeholder="Ej: 12.000"
                  class="pl-8 pr-1 py-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  inputmode="numeric"
                  (input)="formatPrice($event)"
                />
              </div>
                <div *ngIf="editForm.get('price')?.touched && editForm.get('price')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('price')?.errors?.['required']">
                    El campo Precio es requerido.
                  </div>
                </div>
              </div>
            </div>
            
            <div>
              <button type="submit" class="buttonsC h-10 w-auto">
                Guardar Cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  