<mat-card class="mx-8 my-8 p-4 shadow-lg rounded-lg">
  <mat-card-header class="flex items-center mb-2 gap-2">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <section>
      <mat-card-title class="text-lg font-semibold text-gray-800">
        Edición de Producto
      </mat-card-title>
    </section>
  </mat-card-header>

  <mat-card-content>
    <p class="mt-4 font-projectFont">
      Modifique la información del producto:
    </p>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="md:col-span-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre:</mat-label>
            <input
              matInput
              formControlName="itemType"
              placeholder="Ej: Banano"
            />
            <mat-error *ngIf="editForm.get('itemType')?.touched && editForm.get('itemType')?.invalid">
              <span *ngIf="editForm.get('itemType')?.errors?.['required']">
                El campo Nombre es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Referencia:</mat-label>
            <input
              matInput
              formControlName="reference"
              placeholder="Ej: tropical"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Descripción:</mat-label>
            <input
              matInput
              formControlName="description"
              placeholder="Ej: Fruta"
            />
            <mat-error *ngIf="editForm.get('description')?.touched && editForm.get('description')?.invalid">
              <span *ngIf="editForm.get('description')?.errors?.['required']">
                El campo Descripción es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Cantidad:</mat-label>
            <input
              matInput
              type="number"
              formControlName="quantity"
              min="0"
              placeholder="Ej: 1"
            />
            <mat-error *ngIf="editForm.get('quantity')?.touched && editForm.get('quantity')?.errors">
              <span *ngIf="editForm.get('quantity')?.errors?.['required']">
                El campo Cantidad es requerido.
              </span>
              <span *ngIf="editForm.get('quantity')?.errors?.['min']">
                La Cantidad no puede ser negativa.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Porcentaje de IVA (%):</mat-label>
            <input
              matInput
              type="number"
              formControlName="taxPercentage"
              min="0"
              max="100"
              placeholder="Ej: 0 - 100"
            />
            <mat-error *ngIf="editForm.get('taxPercentage')?.touched && editForm.get('taxPercentage')?.invalid">
              <span *ngIf="editForm.get('taxPercentage')?.errors?.['required']">
                El campo Porcentaje de IVA es requerido y debe estar entre 0 y 100.
              </span>
              <span *ngIf="editForm.get('taxPercentage')?.errors?.['min']">
                El Porcentaje de IVA no puede ser negativo.
              </span>
              <span *ngIf="editForm.get('taxPercentage')?.errors?.['max']">
                El Porcentaje de IVA no puede ser mayor que 100.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Unidad de Medida:</mat-label>
            <mat-select formControlName="unitOfMeasureId">
              <mat-option value="">Selecciona una unidad de medida</mat-option>
              <mat-option *ngFor="let unit of unitOfMeasures" [value]="unit.id">
                {{ unit.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('unitOfMeasureId')?.touched && editForm.get('unitOfMeasureId')?.invalid">
              <span *ngIf="editForm.get('unitOfMeasureId')?.errors?.['required']">
                El campo Unidad de Medida es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Categoría:</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option value="">Selecciona una categoría</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.get('categoryId')?.touched && editForm.get('categoryId')?.invalid">
              <span *ngIf="editForm.get('categoryId')?.errors?.['required']">
                El campo Categoría es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Costo $:</mat-label>
            <div class="relative">
              <input
                matInput
                formControlName="cost"
                min="0"
                placeholder="Ej: 12.000"
                inputmode="numeric"
                (input)="formatcost($event)"
                class="pl-8 pr-1 py-2"
              />
            </div>
            <mat-error *ngIf="editForm.get('cost')?.touched && editForm.get('cost')?.invalid">
              <span *ngIf="editForm.get('cost')?.errors?.['required']">
                El campo Costo es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tipo de Producto:</mat-label>
            <mat-select formControlName="productTypeId" id="productTypeId">
              <mat-option value="">Selecciona un tipo de producto</mat-option>
              <mat-option *ngFor="let productType of productTypes" [value]="productType.id">
                {{ productType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        

        <div>
          <button mat-raised-button color="primary" type="submit" class="h-10 w-auto">
            Guardar Cambios
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
