<div class="flex w-full h-full font-projectFont">
  <div class="container ">
    <div class="container__title">
      <div class="title">
        <h1 class="title-text">Terceros</h1>
        <p class="description">Aquí podrá crear, editar, cambiar el estado y ver los detalles de los terceros de su
          empresa</p>
      </div>
      <div class="buttonAgregar">
        <div class="relative group">
          <button class="icon-button" (click)="openConfigTPModal()">
            <span class="material-icons">settings</span>
          </button>
          <div class="tooltip">Configuración</div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container-buttons-search">
        <div class="search-bar">
          <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8" />
            <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
          <form [formGroup]="form" class="form-group">
            <input type="text" id="stringSearch" class="search-input" placeholder="Buscar" name="stringSearch"
              formControlName="stringSearch" />
          </form>
        </div>

        <div class="buttons">
          <button class="btn-full-view" (click)="showDetailTableFunction()">
            <span *ngIf="!showDetailTable">Vista completa</span>
            <span *ngIf="showDetailTable">Vista resumida</span>
          </button>
          <button class="btn-full-view" (click)="redirectTo('/general/operations/third-parties/create')">Agregar</button>
        </div>
      </div>

      <!-- Tabla para Vista Completa -->
      <div class="relative overflow-x-auto" *ngIf="showDetailTable">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let col of columnsComplete">{{ col.title }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let third of data | filterList : form.value.stringSearch">
              <td>{{ third.personType }}</td>
              <td><span *ngFor="let type of third.thirdTypes">{{ type.thirdTypeName }}<br></span></td>
              <td>{{ third.names ? third.names + ' ' + third.lastNames : third.socialReason }}</td>
              <td>{{ third.typeId.typeId }}</td>
              <td>{{ third.idNumber }}</td>
              <td>
                <div [ngSwitch]="third.verificationNumber">
                  <span *ngSwitchCase="null">NO APLICA</span>
                  <span *ngSwitchDefault>{{ third.verificationNumber }}</span>
                </div>
              </td>
              <td>{{ third.email }}</td>
              <td>{{ third.country }}</td>
              <td>{{ third.province }}</td>
              <td>{{ third.city }}</td>
              <td>{{ third.address }}</td>
              <td>{{ third.phoneNumber }}</td>
              <td>
                <p *ngIf="third.state" class="state-active">Activo</p>
                <p *ngIf="!third.state" class="state-inactive">Inactivo</p>
              </td>
              <td class="actions">
                <button class="edit-button" (click)="openModalEdit(third.thId)">
                  <span class="material-icons">edit</span>
                </button>
                <button *ngIf="third.state === true" class="toggle-off-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_off</span>
                </button>
                <button *ngIf="third.state === false" class="toggle-on-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_on</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Tabla para Vista Resumida -->
      <div class="relative overflow-x-auto" *ngIf="!showDetailTable">
        <table class="table">
          <thead>
            <tr>
              <th *ngFor="let col of columnsBrief">{{ col.title }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let third of data | filterList : form.value.stringSearch">
              <td>{{ third.personType }}</td>
              <td>{{ third.thirdTypes[0]?.thirdTypeName }}</td>
              <td>{{ third.names ? third.names + ' ' + third.lastNames : third.socialReason }}</td>
              <td>{{ third.typeId.typeId }}</td>
              <td>{{ third.idNumber }}</td>
              <td>
                <div [ngSwitch]="third.verificationNumber">
                  <span *ngSwitchCase="null">NO APLICA</span>
                  <span *ngSwitchDefault>{{ third.verificationNumber }}</span>
                </div>
              </td>
              <td>{{ third.email }}</td>
              <td>
                <p *ngIf="third.state" class="state-active">Activo</p>
                <p *ngIf="!third.state" class="state-inactive">Inactivo</p>
              </td>
              <td class="actions">
                <button (click)="openModalDetails(third.thId)"> <span class="material-icons">visibility</span> </button>
                <button class="edit-button" (click)="redirectToEdit(third.thId)"><span class="material-icons">edit</span></button>
                <button (click)="deleteThirdPartie(third.thId)">
                  <span class="material-icons">delete</span>
                </button>
                <button *ngIf="third.state === true" class="toggle-off-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_off</span>
                </button>
                <button *ngIf="third.state === false" class="toggle-on-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_on</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>