<div class="flex w-full h-full font-projectFont">
  <div class="container ">
    <div class="container__title">
      <div class="title">
        <h1 class="title-text">Terceros</h1>
        <p class="description">Aquí podrá crear, editar, cambiar el estado y ver los detalles de los terceros de su
          empresa</p>
      </div>
      <div class="buttonAgregar">
        <div class="relative group">
          <button class="icon-button" (click)="openConfigTPModal()">
            <span class="material-icons">settings</span>
          </button>
          <div class="tooltip">Configuración</div>
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container-buttons-search">
        <!--buscar-->
        <div>
          <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre/razon social, numero de documento" #input>
          </mat-form-field>
        </div>

        <div class="buttons">
          <button class="btn-full-view" (click)="showDetailTableFunction()">
            <span *ngIf="!showDetailTable">Vista completa</span>
            <span *ngIf="showDetailTable">Vista resumida</span>
          </button>
          <button class="btn-full-view" (click)="redirectTo('/general/operations/third-parties/create')">Agregar</button>
          <!-- Crear Tercero con PDF RUT -->
          <button (click)="openCreatePDFRunt()" class="btn-full-view">
            PDF RUT
          </button>
          <app-third-create-pdf-rut *ngIf="createPdfRUT" (close)="closeCreatePDFRunt()"></app-third-create-pdf-rut>
        </div>
      </div>

      <div>
        <!-- Tabla para Vista Completa -->
        <div class="relative overflow-x-auto" *ngIf="showDetailTable">
          <table mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="personType">
              <th mat-header-cell *matHeaderCellDef class="bold-text"> Tipo Persona </th>
              <td mat-cell *matCellDef="let third"> {{  third.personType }} </td>
            </ng-container>
            <ng-container matColumnDef="thirdTypes">
              <th mat-header-cell *matHeaderCellDef> Tipo(s) Tercero </th>
              <td mat-cell *matCellDef="let third"> 
                <span *ngFor="let type of third.thirdTypes">{{ type.thirdTypeName }}<br></span>  
              </td>
            </ng-container>
            <ng-container matColumnDef="socialReason">
              <th mat-header-cell *matHeaderCellDef> Nombre/Razón Social </th>
              <td mat-cell *matCellDef="let third"> {{ third.names ? third.names + ' ' + third.lastNames : third.socialReason }} </td>
            </ng-container>
            <ng-container matColumnDef="typeId">
              <th mat-header-cell *matHeaderCellDef> Tipo Id </th>
              <td mat-cell *matCellDef="let third"> {{ third.typeId.typeId }} </td>
            </ng-container>
            <ng-container matColumnDef="idNumber">
              <th mat-header-cell *matHeaderCellDef> Número de Documento </th>
              <td mat-cell *matCellDef="let third"> {{third.idNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="verificationNumber">
              <th mat-header-cell *matHeaderCellDef> Digito de Verificación </th>
              <td mat-cell *matCellDef="let third"> 
                <div [ngSwitch]="third.verificationNumber">
                  <span *ngSwitchCase="null">NO APLICA</span>
                  <span *ngSwitchDefault>{{ third.verificationNumber }}</span>
                </div>  
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Correo </th>
              <td mat-cell *matCellDef="let third"> {{ third.email }} </td>
            </ng-container>
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef> País </th>
              <td mat-cell *matCellDef="let third"> {{ third.country }} </td>
            </ng-container>
            <ng-container matColumnDef="province">
              <th mat-header-cell *matHeaderCellDef> Departamento </th>
              <td mat-cell *matCellDef="let third"> {{ third.province }} </td>
            </ng-container>
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef> Ciudad </th>
              <td mat-cell *matCellDef="let third"> {{ third.city }} </td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let third"> {{ third.address }} </td>
            </ng-container>
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let third"> {{ third.phoneNumber }} </td>
            </ng-container>
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let third"> 
                <p *ngIf="third.state" class="state-active">Activo</p>
                <p *ngIf="!third.state" class="state-inactive">Inactivo</p>  
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let third"> 
                <button class="edit-button" (click)="redirectToEdit(third.thId)"><span class="material-icons">edit</span></button>
                <button *ngIf="third.state === true" class="toggle-off-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_off</span>
                </button>
                <button *ngIf="third.state === false" class="toggle-on-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_on</span>
                </button>  
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsComplete"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsComplete;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [colSpan]="displayedColumnsBrief.length">No se encontro el tercero "{{input.value}}"</td>
            </tr>
          </table>
        </div>

        <!-- Tabla para Vista Resumida -->
        <div class="relative overflow-x-auto" *ngIf="!showDetailTable">
          <table mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="personType">
              <th mat-header-cell *matHeaderCellDef class="bold-text"> Tipo Persona </th>
              <td mat-cell *matCellDef="let third"> {{  third.personType }} </td>
            </ng-container>
            <ng-container matColumnDef="thirdTypes">
              <th mat-header-cell *matHeaderCellDef> Tipo(s) Tercero </th>
              <td mat-cell *matCellDef="let third"> {{ third.thirdTypes[0]?.thirdTypeName }} </td>
            </ng-container>
            <ng-container matColumnDef="socialReason">
              <th mat-header-cell *matHeaderCellDef> Nombre/Razón Social </th>
              <td mat-cell *matCellDef="let third"> {{ third.names ? third.names + ' ' + third.lastNames : third.socialReason }} </td>
            </ng-container>
            <ng-container matColumnDef="typeId">
              <th mat-header-cell *matHeaderCellDef> Tipo Id </th>
              <td mat-cell *matCellDef="let third"> {{ third.typeId.typeId }} </td>
            </ng-container>
            <ng-container matColumnDef="idNumber">
              <th mat-header-cell *matHeaderCellDef> Número de Documento </th>
              <td mat-cell *matCellDef="let third"> {{third.idNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Correo </th>
              <td mat-cell *matCellDef="let third"> {{ third.email }} </td>
            </ng-container>
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let third"> 
                <p *ngIf="third.state" class="state-active">Activo</p>
                <p *ngIf="!third.state" class="state-inactive">Inactivo</p>  
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let third"> 
                <button (click)="openModalDetails(+third.thId)"> <span class="material-icons">visibility</span> </button>
                <button class="edit-button" (click)="redirectToEdit(third.thId)"><span class="material-icons">edit</span></button>
                <button *ngIf="third.state === true" class="toggle-off-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_off</span>
                </button>
                <button *ngIf="third.state === false" class="toggle-on-button"
                  (click)="changeThirdPartieState(third.thId)">
                  <span class="material-icons">toggle_on</span>
                </button>  
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBrief"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBrief;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [colSpan]="displayedColumnsBrief.length">No se encontro el tercero "{{input.value}}"</td>
            </tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10]"
                      aria-label="Select page of thirds">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>