<mat-card class="mx-8 my-8 p-2 shadow-lg rounded-lg">
  <mat-card-header class="flex items-center gap-2">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <section>
      <mat-card-title class="text-4xl text-blue-950">
        Categoría
      </mat-card-title>
    </section>
  </mat-card-header>
  <mat-card-content>
<div class="flex flex-col justify-start items-center">

  <div class="container-buttons-search grid grid-cols-2 w-full mb-4 items-center justify-center  mx-4 py-2">
 
<mat-form-field appearance="outline">
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
</mat-form-field>

 <div class="p-4 gap-2 col-span-1 w-full flex items-end justify-end text-lg">   
    <button
        mat-flat-button color="primary"
        class="h-16 p-1 min-w-18 block w-28 rounded-xl bg-blue-950 text-white"
        (click)="redirectTo('/general/operations/categories/create')"
      >
        Agregar
      </button>
  </div>
</div>

<div class="lg:text-md mx-auto w-full">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> ID </th>
        <td mat-cell *matCellDef="let cat"> {{ cat.id }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Nombre </th>
        <td mat-cell *matCellDef="let cat"> {{ cat.name }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Descripción </th>
        <td mat-cell *matCellDef="let cat"> {{ cat.description }} </td>
      </ng-container>

      <ng-container matColumnDef="inventory">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Inventario </th>
        <td mat-cell *matCellDef="let cat"> {{ getCategoryName(cat.inventoryId) }} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Costo </th>
        <td mat-cell *matCellDef="let cat"> {{ getCategoryName(cat.costId) }} </td>
      </ng-container>

      <ng-container matColumnDef="sale">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Venta </th>
        <td mat-cell *matCellDef="let cat"> {{ getCategoryName(cat.saleId) }} </td>
      </ng-container>

      <ng-container matColumnDef="tax">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Impuesto </th>
        <td mat-cell *matCellDef="let cat"> {{ getTax(cat.taxId) }}</td>
      </ng-container>

      <ng-container matColumnDef="return">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Devolución </th>
        <td mat-cell *matCellDef="let cat"> {{ getCategoryName(cat.returnId) }} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="bold-text"> Acciones </th>
        <td mat-cell *matCellDef="let cat">
          <div class="button-flex-container">
            <div class="button-container ">
              <button mat-min-fab color="primary" 
              class="h-8 p-1 min-w-10 block w-20 rounded-xl bg-yellow-500 mr-2 relative overflow-hidden"
              (click)="redirectToEdit(cat.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-min-fab color="primary" 
              class="h-8 p-1 min-w-10 block w-20 rounded-xl bg-red-500 mr-2 relative overflow-hidden"
              (click)="deleteCategory(cat.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<!-- Manejar caso de lista vacía -->
<ng-template #noCategories>
 <p class="text-gray-700">No hay Categorías disponibles.</p>
</ng-template>
</div>
</mat-card-content>
</mat-card>