<div class="px-14 py-5 bg-gray-100 font-projectFont">
    <h1 class="text-2xl font-bold text-blue-950 mt-8">Editar Unidad de medida</h1>
  
    <p class="mt-4 font-projectFont">
      Ingrese la información requerida para Editar una Unidad de medida:
    </p>
    <div class="p-4 col-span-1 w-full flex items-end justify-end text-lg">
      <button
        class="flex items-center justify-center h-10 min-w-14 rounded-xl bg-blue-950 text-white px-4 relative"
        (click)="goBack()"
      >
        <span class="rounded-full bg-white w-6 h-6 flex items-center justify-center mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-blue-950" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.707 15.707a1 1 0 0 1-1.414 1.414l-4-4a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 1.414L9.414 11l3.293 3.293z" clip-rule="evenodd" />
            </svg>
        </span>
      </button>
    </div>
  
  
    <div class="container mx-auto mt-8">
      <div class="grid grid-cols-1 m-6 gap-6">
        <div class="p-4 bg-white rounded shadow">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Nombre:</label>
                <input type="text" formControlName="name" id="name" placeholder="Ej: Litro " class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                <div *ngIf="editForm.get('name')?.touched && editForm.get('name')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('name')?.errors?.['required']">
                    El campo Nombre es requerido.
                  </div>
                </div>
              </div>
              <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Descripción:</label>
                <input type="text" formControlName="description" id="description" placeholder="Ej: Unidad de medida de Volumen " class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                <div *ngIf="editForm.get('description')?.touched && editForm.get('description')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('description')?.errors?.['required']">
                    El campo Descripción es requerido.
                  </div>
                </div>
              </div>
  
              <!-- Botón de envío -->
              <div>
                <button type="submit" class="buttonsC h-10 w-auto">Actualizar Unidad</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  