<mat-card class="mx-8 my-8 p-4 shadow-lg rounded-lg">
  <mat-card-header class="flex items-center mb-2 gap-2">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <section>
      <mat-card-title class="text-lg font-semibold text-gray-800">
        Editar Categoría
      </mat-card-title>
    </section>
  </mat-card-header>

  <mat-card-content>
    <p class="mt-4">
      Ingrese la información requerida para editar una categoría:
    </p>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Nombre de la categoría"
            formControlName="name"
            required
          />
          <mat-error *ngIf="editForm.get('name')?.hasError('required')">
            El campo Nombre es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Descripción</mat-label>
          <input
            matInput
            placeholder="Descripción de la categoría"
            formControlName="description"
            required
          />
          <mat-error *ngIf="editForm.get('description')?.hasError('required')">
            El campo Descripción es requerido.
          </mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Impuesto</mat-label>
          <mat-select formControlName="tax">
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar Impuesto..."
                noEntriesFoundLabel="No encontrado"
                [formControl]="taxFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of taxes" [value]="item.id">
              {{item.id}}- {{ item.code }} - {{ item.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('tax')?.hasError('required')">
            El campo Impuesto es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Inventario</mat-label>
          <mat-select formControlName="inventory">
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar inventario..."
                noEntriesFoundLabel="No encontrado"
                [formControl]="inventoryFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of inventory" [value]="item.id">
              {{ item.code }} - {{ item.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('inventory')?.hasError('required')">
            El campo Inventario es requerido.
          </mat-error>
        </mat-form-field>
        
        <!-- Costo -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Costo</mat-label>
          <mat-select formControlName="cost">
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar costo..."
                noEntriesFoundLabel="No encontrado"
                [formControl]="costFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of cost" [value]="item.id">
              {{ item.code }} - {{ item.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('cost')?.hasError('required')">
            El campo Costo es requerido.
          </mat-error>
        </mat-form-field>
        
        <!-- Venta -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Venta</mat-label>
          <mat-select formControlName="sale">
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar venta..."
                noEntriesFoundLabel="No encontrado"
                [formControl]="saleFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of sale" [value]="item.id">
              {{ item.code }} - {{ item.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('sale')?.hasError('required')">
            El campo Venta es requerido.
          </mat-error>
        </mat-form-field>
        
        <!-- Devolución -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Devolución</mat-label>
          <mat-select formControlName="return">
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Buscar devolución..."
                noEntriesFoundLabel="No encontrado"
                [formControl]="returnFilterCtrl">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let item of return" [value]="item.id">
              {{ item.code }} - {{ item.description }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="editForm.get('return')?.hasError('required')">
            El campo Devolución es requerido.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Botón de envío -->
      <div class="flex justify-start">
        <button mat-raised-button color="primary" type="submit">
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
