<div class="flex w-full  h-4/5 font-titillium mb-5">
    <div class="max-w-full mx-auto px-16 py-10 w-full">
        <div class="grid grid-cols-1  justify-between mx-4 sm:grid-cols-2 ">
            <div class="tile text-center mb-3 sg:text-start">
                <h1 class="text-3xl   font-bold  text-blue-950">{{title}}</h1>
                <p class="text-base mb-3  sg:mb-7 ">{{subtitle}}</p>
            </div>
    
    
            <div class="button-add sm:grid-cols-1 flex justify-center sm:justify-end">
    
                <div class="button-add sm:grid-cols-1 flex justify-center sm:justify-end">
                    <button type="button" (click)="goToListEnterprises()"
                        class="bg-gradient-to-r from-blue-950 to-blue-700 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-6 py-2.5 text-center me-2 mb-2 max-h-10 text-white">
                        Regresar
                    </button>
                </div>
    
            </div>
    
        </div>

        <section class="create-enterprise  rounded-xl shadow-xl   bg-white pb-6 w-full">
            <!-- mg--->

            <div class="container w-full">
                <div class="container__basic__information">
                    <div class="p-2 flex justify-center pt-7">
                        <h2 class="relative font-bold text-2xl group pb-2 border-solid border-b-2 border-blue-950">
                            Información básica
                        </h2>
                    </div>

                    <div class="basic__information__content p-8 grid grid-cols-1 md:grid-cols-3 w-full">
                        <div
                            class="basic__information__picture col-span-1 flex w-3/5  justify-center items-center  content-center mx-auto">
                            <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                                <ngx-dropzone-label class="p-3">Arrastra y suelta tu logo!</ngx-dropzone-label>
                                <ng-container *ngIf="file">
                                    <ngx-dropzone-image-preview [removable]="true" (removed)="onRemove()"
                                        ngProjectAs="ngx-dropzone-preview" [file]="file">
                                    </ngx-dropzone-image-preview>
                                </ng-container>
                            </ngx-dropzone>
                        </div>

                        <div class="basic__information__form flex flex-col justify-center mb-8 col-span-2 w-full">
                            <div class="flex justify-center mb-5 ">
                                <div
                                    class="sm:bg-gray-500 rounded-full p-1 justify-center grid-cols-1 grid sm:grid-cols-2 mt-7 sm:mt-0">
                                    <div class="button-1">
                                        <button type="button" id="legal-person" (click)="showLegalPersonForm()"
                                            [class.selected]="selectedButtonType === 'LEGAL_PERSON'"
                                            class="px-10 py-1 text-sm mr-3 font-medium rounded-full bg-white text-black hover:bg-blue-950 hover:text-white">
                                            Persona jurídica
                                        </button>
                                    </div>
                                    <div class="button-2">
                                        <button type="button" id="natural-person" (click)="showNaturalPersonForm()"
                                            [class.selected]="selectedButtonType === 'NATURAL_PERSON'"
                                            class="px-10 py-1 text-sm font-medium rounded-full bg-white text-black hover:bg-blue-950 hover:text-white">
                                            Persona natural
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="divA mt-5">
                                <form [formGroup]="form" (ngSubmit)="saveEnterprise()"
                                    class="grid grid-cols-1 md:grid-cols-2 gap-9">
                                    <div class="">

                                        <!-- Nombre de empresa -->
                                        <div class="col-1-name grid mb-3">
                                            <label for="nombre_empresa" class="block">Nombre de Empresa *</label>
                                            <input type="text" id="nombre_empresa" name="nombre_empresa"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full"
                                                placeholder="Ej: Pepsi " formControlName="name" required>
                                            <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form.get('name')?.hasError('maxlength')">Supera limite
                                                    caracteres</div>
                                                <div *ngIf="form.get('name')?.hasError('required')">El nombre es
                                                    requerido.</div>
                                                <div *ngIf="form.get('name')?.hasError('pattern')">Algunos carácteres
                                                    son inválidos.</div>
                                            </div>
                                        </div>

                                        <!-- Tipo de Empresa -->
                                        <div class="col-1-type grid mb-3 ">
                                            <label for="tipo_empresa" class="block">Tipo de Empresa *</label>

                                            <div class="icon flex">
                                                <ng-select name="type-enterprise" [items]="enterpriseTypesList"
                                                    bindLabel="name" [searchable]="true"
                                                    formControlName="selectedItemEnterpriseType"
                                                    class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full"
                                                    (change)="onEnterpriseTypeSelect($event)"
                                                    (clear)="onSelectionTypeEnterpriseClear()" [clearable]="false"
                                                    [placeholder]="placeTypeEnterprise">
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <div
                                                            class="py-2 px-4 cursor-pointer hover:bg-blue-950 hover:text-white bg-white">
                                                            {{ item.name }}
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                                <svg class="h-8 w-8 text-black -ml-10 mt-1" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="1"
                                                    stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="6 9 12 15 18 9" />
                                                </svg>
                                            </div>
                                            <div *ngIf="form.get('selectedItemEnterpriseType')?.touched && form.get('selectedItemEnterpriseType')?.errors?.['noValueSelected']"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                Por favor, seleccione un tipo de empresa.
                                            </div>
                                        </div>

                                        <!-- Responsabilidades tributarias -->
                                        <div class="col-1-type tax-liabilities w-full grid mb-3">
                                            <label>Responsabilidades tributarias *</label>
                                            <div class="icon flex">
                                                <ng-select name="tax-liabilities" [items]="taxLiabilitiesList" bindLabel="name"
                                                    [searchable]="true" formControlName="selectedItemTaxLiabilities"
                                                    (change)="onTaxLiabilitySelect($event)"
                                                    class="border border-gray-400 rounded-md px-3 py-1 mt-1 w-full min-h-9"
                                                    [maxSelectedItems]="7" [multiple]="true"
                                                    formControlName="selectedItemTaxLiabilities" [clearable]="false"
                                                    [placeholder]="placeTaxLiaabilities">
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <div
                                                            class="py-2 px-4 cursor-pointer hover:bg-blue-950 hover:text-white bg-white">
                                                            {{ item.name }}</div>
                                                    </ng-template>
                                                </ng-select>
                                                <svg class="h-8 w-8 text-black -ml-10 mt-1" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                                    stroke-linejoin="round">
                                                    <polyline points="6 9 12 15 18 9" />
                                                </svg>
                                            </div>
                                            <div *ngIf="form.get('selectedItemTaxLiabilities')?.touched && form.get('selectedItemTaxLiabilities')?.errors?.['noValueSelected']"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                Por favor, seleccione al menos un ítem.
                                            </div>

                                        </div>

                                        <!-- Nombre Propietario -->
                                        <form [formGroup]="form_natural" class="col-1-owner grid mb-3"
                                            *ngIf="showNaturalForm">
                                            <label for="nombre_propietario" class="block">Nombre de
                                                Propietario *</label>
                                            <input type="text" id="nombre_propietario" name="nombre_propietario"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full"
                                                placeholder="Ej: Julian" formControlName="nameOwner" required>
                                            <div *ngIf="form_natural.get('nameOwner')?.invalid && form_natural.get('nameOwner')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form_natural.get('nameOwner')?.hasError('maxlength')">Supera limite
                                                    caracteres</div>
                                                <div *ngIf="form_natural.get('nameOwner')?.hasError('required')">El nombre es
                                                    requerido.</div>
                                                <div *ngIf="form_natural.get('nameOwner')?.hasError('pattern')">El nombre sólo
                                                    puede contener letras.</div>
                                            </div>
                                        </form>

                                        <!-- Razon Social -->
                                        <form [formGroup]="form_legal" class="col-1-business grid mb-3"
                                            *ngIf="showLegalForm">
                                            <label for="businessName" class="block">Razón social *</label>

                                            <input type="text" id="businessName" name="businessName"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                                placeholder="Ej: Pepsico Iberia Servicios Centrales, S.L."
                                                formControlName="businessName">
                                            <div *ngIf="form_legal.get('businessName')?.invalid && form_legal.get('businessName')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form_legal.get('businessName')?.hasError('maxlength')">
                                                    Supera
                                                    limite caracteres</div>
                                                <div *ngIf="form_legal.get('businessName')?.hasError('required')">El
                                                    campo es
                                                    requerido.</div>
                                            </div>
                                        </form>

                                        

                                    </div>

                                    <div class="">
                                        <!-- Numero de identificacion tributaria -->
                                        <div class="col-2-nit grid mb-3 ">
                                            <label for="nit" class="block">NIT(Número de identificación
                                                tributaria) *</label>
                                            <input type="text" id="nit" name="nit"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full"
                                                placeholder="Ej: 6004567890" formControlName="nit">
                                            <div *ngIf="form.get('nit')?.invalid && form.get('nit')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form.get('nit')?.hasError('maxlength')">Supera limite
                                                    digitos</div>
                                                <div *ngIf="form.get('nit')?.hasError('required')">El NIT es requerido.
                                                </div>
                                                <div *ngIf="form.get('nit')?.hasError('pattern')">El NIT solo debe
                                                    contener numeros</div>
                                            </div>
                                        </div>

                                        <!-- Tipo de Contribuytente -->
                                        <div class="col-2-payer grid mb-3">
                                            <label for="tipo_contribuyente" class="block">Tipo de
                                                Contribuyente *</label>
                                            <div class="icon flex">
                                                <ng-select name="tax-payer" [items]="taxPayersList" bindLabel="name"
                                                    [searchable]="true" formControlName="selectedItemTaxPayer"
                                                    class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full "
                                                    (change)="onTaxPayerSelect($event)"
                                                    (clear)="onSelectionTaxPayerClear()" [clearable]="false"
                                                    [placeholder]="placeTypePayer">
                                                    <ng-template ng-option-tmp let-item="item">
                                                        <div
                                                            class="py-2 px-4 cursor-pointer hover:bg-blue-950 hover:text-white bg-white">
                                                            {{ item.name }}</div>
                                                    </ng-template>
                                                </ng-select>
                                                <svg class="h-8 w-8 text-black -ml-10 mt-1" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="1"
                                                    stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="6 9 12 15 18 9" />
                                                </svg>
                                            </div>
                                            <div *ngIf="form.get('selectedItemTaxPayer')?.touched && form.get('selectedItemTaxPayer')?.errors?.['noValueSelected']"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                Por favor, seleccione un tipo de contribuyente.
                                            </div>
                                        </div>

                                        <!-- Actividades Economicas -->
                                        <div class="grid grid-cols-2 gap-4 mb-3 mt-7">
                                            <!-- Campo de Actividad Economica Principal -->
                                            <div class="col-span-1">
                                              <label for="mainActivity">Actividad Economica Principal</label>
                                              <input type="number" id="mainActivity" name="mainActivity"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                                formControlName="mainActivity" placeholder="Ej: 123456">
                                          
                                              <div *ngIf="form.get('mainActivity')?.invalid && form.get('mainActivity')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form.get('mainActivity')?.hasError('pattern')">La actividad principal debe ser un numero.</div>
                                              </div>
                                            </div>
                                          
                                            <!-- Campo de Actividad Economica Secundaria -->
                                            <div class="col-span-1">
                                              <label for="secondaryActivity">Actividad Economica Secundaria</label>
                                              <input type="number" id="secondaryActivity" name="secondaryActivity"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                                formControlName="secondaryActivity" placeholder="Ej: 654321">
                                          
                                              <div *ngIf="form.get('secondaryActivity')?.invalid && form.get('secondaryActivity')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form.get('secondaryActivity')?.hasError('pattern')">La actividad secundaria debe ser un numero.</div>
                                              </div>
                                            </div>
                                        </div>
                                          
                                        <!-- Apellidos -->
                                        <form [formGroup]="form_natural" class="col-2-surname grid mb-3 mt-6"
                                            *ngIf="showNaturalForm">
                                            <label for="surnameOwner" class="block">Apellidos *</label>

                                            <input type="text" id="surnameOwner" name="surnameOwner"
                                                class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full"
                                                placeholder="Ej: Ruano" formControlName="surnameOwner" required>
                                            <div *ngIf="form_natural.get('surnameOwner')?.invalid && form_natural.get('surnameOwner')?.touched"
                                                class="text-red-500 text-sm font-medium -mt-1">
                                                <div *ngIf="form_natural.get('surnameOwner')?.hasError('maxlength')">Supera
                                                    limite caracteres</div>
                                                <div *ngIf="form_natural.get('surnameOwner')?.hasError('required')">El apellido
                                                    es obligatorio.</div>
                                                <div *ngIf="form_natural.get('surnameOwner')?.hasError('pattern')">El apellido
                                                    solo puede contener letras.</div>
                                            </div>
                                        </form>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container__additional-information w-full">
                    <div class="flex justify-center sm:mb-11 ">
                        <h2 class="relative font-bold text-2xl group pb-2 border-solid border-b-2 border-blue-950">
                            Información Adicional

                        </h2>
                    </div>

                    <div class="additional__information__content px-8 sm:px-20 sm:py-1 py-7  w-full">
                        <form [formGroup]="form" (ngSubmit)="saveEnterprise()"
                            class="form__enterprise__additional grid grid-cols-1 md:grid-cols-2 sm:gap-20  w-full">
                            <div class="form__enterprise__column-1 0">

                                

                                <div class="col-1 country w-full grid mb-3">
                                    <label for="country1">País</label>
                                    <input type="text" id="country1" name="country1"
                                        class="border border-gray-400 rounded-md px-3 mt-1 py-1 w-full max-h-9"
                                        value="Colombia" disabled>
                                </div>
                                <div class="col-1-department w-full grid gap-2 mb-3">
                                    <label>Departamento *</label>
                                    <div class="icon flex flex-col">
                                        <ng-select 
                                            [items]="departmenList" 
                                            bindLabel="name"
                                            (clear)="onSelectionDepartmentClear()"
                                            formControlName="selectedItemDepartment" 
                                            [searchable]="true"
                                            [clearable]="false"
                                            class="border border-gray-400 rounded-md px-3 py-1 mt-1 w-full"
                                            (change)="onDepartmentSelect($event)" 
                                            name="department"
                                            [placeholder]="placeDepartment"
                                        >
                                            <ng-template ng-option-tmp let-item="item">
                                                <div class="py-2 px-4 cursor-pointer hover:bg-blue-950 hover:text-white bg-white">
                                                    {{ item.name }}
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <svg 
                                            class="h-8 w-8 text-black -ml-10 mt-1 self-end" 
                                            viewBox="0 0 24 24" 
                                            fill="none"
                                            stroke="currentColor" 
                                            stroke-width="1" 
                                            stroke-linecap="round" 
                                            stroke-linejoin="round"
                                        >
                                            <polyline points="6 9 12 15 18 9" />
                                        </svg>
                                    </div>
                                    <div 
                                        *ngIf="form.get('selectedItemDepartment')?.touched && form.get('selectedItemDepartment')?.errors?.['noValueSelected']"
                                        class="text-red-500 text-sm font-medium -mt-1"
                                    >
                                        Por favor, seleccione un departamento.
                                    </div>
                                </div>

                                

                                <div class="col-1-city w-full grid gap-2 mb-3">
                                    <label *ngIf="enabledSelectCity" for="municipio">Ciudad *</label>
                                    <div class="icon flex flex-col">
                                        <ng-select 
                                            name="city" 
                                            *ngIf="enabledSelectCity" 
                                            [items]="cityList"
                                            bindLabel="name" 
                                            (clear)="onSelectionCityClear()" 
                                            [searchable]="true"
                                            formControlName="selectedItemCity"
                                            class="border border-gray-400 rounded-md px-3 py-1 mb-1 mt-1 w-full"
                                            (change)="onCitySelect($event)" 
                                            [clearable]="false"
                                            [placeholder]="placeCity"
                                        >
                                            <ng-template ng-option-tmp let-item="item">
                                                <div class="py-2 px-4 cursor-pointer hover:bg-blue-950 hover:text-white bg-white">
                                                    {{ item.name }}
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <svg 
                                            *ngIf="enabledSelectCity" 
                                            class="h-8 w-8 text-black -ml-10 mt-1 self-end" 
                                            viewBox="0 0 24 24" 
                                            fill="none" 
                                            stroke="currentColor" 
                                            stroke-width="1" 
                                            stroke-linecap="round" 
                                            stroke-linejoin="round"
                                        >
                                            <polyline points="6 9 12 15 18 9" />
                                        </svg>
                                    </div>
                                    <div 
                                        *ngIf="form.get('selectedItemCity')?.touched && form.get('selectedItemCity')?.errors?.['noValueSelected']"
                                        class="text-red-500 text-sm font-medium -mt-1"
                                    >
                                        Por favor, seleccione una ciudad.
                                    </div>
                                </div>
                            </div>

                            <div class="form__enterprise__column-2 ">

                                <div class="col-2address grid mb-3">
                                    <label for="direccion">Dirección *</label>
                                    <input type="text" id="direccion" name="direccion"
                                        class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                        formControlName="address" placeholder="Ej: Calle 123 #45-67">
                                    <span class="text-red-500 text-sm font-medium -mt-1"
                                        *ngIf="form.get('address')?.hasError('required') && form.get('address')?.touched">
                                        Campo requerido
                                    </span>
                                </div>

                                <div class="col-2-phone grid mb-3">
                                    <label for="telefono">Teléfono *</label>
                                    <input type="number" id="telefono" name="telefono"
                                        class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                        formControlName="phone" placeholder="Ej: 12345678">

                                    <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched"
                                        class="text-red-500 text-sm font-medium -mt-1">
                                        <div *ngIf="form.get('phone')?.hasError('maxlength')">Supera limite digitos
                                        </div>
                                        <div *ngIf="form.get('phone')?.hasError('required')">El Telefono es requerido.
                                        </div>
                                        <div *ngIf="form.get('phone')?.hasError('pattern')">El Teléfono solo debe
                                            contener numeros</div>
                                    </div>
                                </div>

                                <div class="col-2-email grid mb-3">
                                    <label for="email">Email *</label>
                                    <input type="email" id="email" name="email"
                                        class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                        formControlName="email" placeholder="Ej. nombredeusuario@example.com">
                                    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
                                        class="text-red-500 text-sm font-medium -mt-1">
                                        <div *ngIf="form.get('email')?.hasError('required')">El email es requerido.
                                        </div>
                                        <div *ngIf="form.get('email')?.hasError('email')">El email no es válido.</div>
                                        <div *ngIf="form.get('email')?.hasError('pattern')">Algunos carácteres son
                                            inválidos.</div>
                                    </div>
                                </div>


                                <div class="div grid grid-cols-5 mb-3 gap-9">
                                    <div class="checkbox col-span-2">
                                        <label class="w-full block text-center" for="sucursal">¿Tiene
                                            sucursales?</label>
                                        <input type="checkbox" id="sucursal" name="sucursal" class="w-full mt-3 h-6"
                                            formControlName="branchSelected" />
                                    </div>

                                    <div class="dv col-span-3">
                                        <label for="dv">Digito de verificación</label>
                                        <input type="number" id="dv" name="dv"
                                            class="border border-gray-400 rounded-md px-3 py-1 mt-1 mb-1 w-full max-h-9"
                                            formControlName="dv">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div class="buttons-create-cancel flex justify-center mx-10 my-3">
                    <button
                    class="cancel-create text-white bg-gradient-to-r from-red-800 via-red-700 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                    (click)="goToListEnterprises()">Cancelar</button>
                    <button
                        class="save-enterprise text-white bg-gradient-to-r from-blue-900 via-blue-800 to-blue-950 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-900 dark:focus:ring-blue-950 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                        (click)="saveEnterprise()">Guardar</button>
                   
                </div>
            </div>
        </section>
    </div>
</div>
