
.icon-upload {
    filter: brightness(0.4) hue-rotate(450deg); /* Reduce la intensidad y cambia el matiz a azul oscuro */
    object-fit: fill;
}

/*Color establecido para un boton seleccionado*/
.selected {
    background-color: #002d72; 
    color: white;
}