<h1>Cracion de empresa</h1>
<p>Ingrese toda la informacion que es requerida en los isgueintes formularios</p>
<div>
    <div>
        <p>Informacion basica</p>
    </div>
    <div>
        <div class="column image">
            <img src="iconoSubir.webp" alt="Imagen" width="100" height="100">
        </div>
        <div class="formulario fila">

            <div class="columna">
                <label for="nombre_empresa">Nombre de Empresa:</label>
                <input type="text" id="nombre_empresa" name="nombre_empresa">

                <label for="nombre_propietario">Nombre de Propietario:</label>
                <input type="text" id="nombre_propietario" name="nombre_propietario">

                <label for="tipo_empresa">Tipo de Empresa:</label>
                <select id="tipo_empresa" name="tipo_empresa">
                    <option value="SA">Sociedad Anónima (SA)</option>
                    <option value="SRL">Sociedad de Responsabilidad Limitada (SRL)</option>
                    <option value="EIRL">Empresa Individual de Responsabilidad Limitada (EIRL)</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>

            <div class="columna">
                <label for="nit">NIT:</label>
                <input type="text" id="nit" name="nit">

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos">

                <label for="tipo_contribuyente">Tipo de Contribuyente:</label>
                <select id="tipo_contribuyente" name="tipo_contribuyente">
                    <option value="Persona Natural">Persona Natural</option>
                    <option value="Persona Jurídica">Persona Jurídica</option>
                    <option value="Sociedad de Hecho">Sociedad de Hecho</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
    </div>

</div>

<div>
    <div>
        <p>Informacion adicional</p>
    </div>
    <div>
        <div class="formulario fila">

            <div class="columna">
                <label for="nombre_empresa">Nombre de Empresa:</label>
                <input type="text" id="nombre_empresa" name="nombre_empresa">

                <label for="nombre_propietario">Nombre de Propietario:</label>
                <input type="text" id="nombre_propietario" name="nombre_propietario">

                <label for="tipo_empresa">Tipo de Empresa:</label>
                <select id="tipo_empresa" name="tipo_empresa">
                    <option value="SA">Sociedad Anónima (SA)</option>
                    <option value="SRL">Sociedad de Responsabilidad Limitada (SRL)</option>
                    <option value="EIRL">Empresa Individual de Responsabilidad Limitada (EIRL)</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>

            <div class="columna">
                <label for="nit">NIT:</label>
                <input type="text" id="nit" name="nit">

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos">

                <label for="tipo_contribuyente">Tipo de Contribuyente:</label>
                <select id="tipo_contribuyente" name="tipo_contribuyente">
                    <option value="Persona Natural">Persona Natural</option>
                    <option value="Persona Jurídica">Persona Jurídica</option>
                    <option value="Sociedad de Hecho">Sociedad de Hecho</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
    </div>
</div>