<div class="sidenav bg-blue-950" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container mb-4">
    <button class="logo" (click)="toggleCollapse()">
      <img class="rounded-full object-cover shadow-sm logo-img" [src]="logo_enterprise" alt="logo.png">
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">{{name_enterprise}}</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="material-icons close-icon">close</i>
    </button>
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let item of navData">
        <a class="sidenav-nav-link" *ngIf="item.items && item.items.length > 0" (click)="handleClick(item)" [ngClass]="getActiveClass(item)">
          <span class="material-icons sidenav-link-icon">{{item.icon}}</span>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed"> {{item.label}} </span>
          <i *ngIf="item.items && collapsed" class="menu-collapse-icon"
          [ngClass] = "!item.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'">
          </i>
        </a>
        <a class="sidenav-nav-link"
          *ngIf="!item.items || (item.items && item.items.length === 0)"
          [routerLink]="[item.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">
          <span class="material-icons sidenav-link-icon">{{item.icon}}</span>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed"> {{item.label}} </span>
        </a>
        <div *ngIf="collapsed && item.items && item.items.length > 0">
          <app-sublevel-menu
            [data]="item"
            [collapsed]="collapsed"
            [expanded]="item.expanded"
            [multiple]="multiple"
          ></app-sublevel-menu>
        </div>
      </li>
    </ul>
  </div>

  <div class="logo-container border-t-2 ">
    <button class="logo" (click)="toggleCollapse()">
      <img class="logo-img logo-app" src="../../../../assets/Iconos/contapp-logo.svg" alt="logo.png">
    </button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">ContApp</div>
  </div>
</div>
