
<div class="container-all h-full text-white landing overflow-auto w-full">

    <div
        class="container-image text-animator  sub-container-all flex flex-col justify-center h-full w-full overflow-auto">
        <app-header-main></app-header-main>
        <div class="animation container-main grid items-center text-center grid-cols-1 h-full w-full  ">
            <div class="h-5/6 title w-full mx-auto flex  flex-col justify-center items-center">
                <img class="p-5" src="../../../../../../assets/Iconos/puñoLogo.png" alt="">
                <div class="container-title w-full flex ">
                    <h1 class="typewriter text-6xl sm:text-8xl font-semibold w-full   grid grid-cols-2">
                        <span class="inline" [innerHtml]="displayedTitle"> </span>
                    </h1>
                </div>
                <div class="container-subtitle mt-4 text-lg sm:text-2xl w-full overflow-auto">
                    <p class="typewriter w-10/12 overflow-auto">
                        <span class="w-full inline-block" [innerHtml]="displayedSubtitle"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="container-imagefull  w-full flex justify-center items-center flex-col">
        <h3 class="animation text-center text-3xl mt-10 mb-5 text-white font-bold flex flex-col items-center justify-center ">
            <img class="inline-block max-w-44" src="../../../../../../assets/Iconos/icons-landing/wired-gradient-69-eye.gif" alt="">
            <span class="inline-block">&lt; Visionarios /&gt;</span>
        </h3>
        <div class="animation proffesors grid grid-cols-1 px-5 sm:px-32 pcg:px-52 text-center justify-center items-center
      py-20 rounded-2xl w-full">
            <div class="cards grid grid-cols-1 im:grid-cols-2 opm:grid-cols-4 gap-9 w-full">
                <div class="card bg-card1 p-8 card-hover">
                    <div class="image rounded-full overflow-hidden">
                        <img class="h-24 w-24 rounded-full" src="../../../../../../assets/landing-page/imagesTeachers/Viviana.jpg"
                            alt="">
                    </div>

                    <div class="info grid items-center justify-center">
                        <span class="block text-center mt-5 mb-2 font-bold">Viviana Patricia Narváez Castillo</span>
                        <span class="block text-center font-semibold  italic mb-3">Docente OTC Facultad Ciencias Contables, Económicas y Administrativas</span>
                    </div>
                </div>

                <div class="card bg-card2  p-8 card-hover">
                    <div
                        class="image rounded-full  bg-cover bg-no-repeat bg-center overflow-hidden">
                        <img class="h-24 w-24 rounded-full" src="../../../../../../assets/landing-page/imagesTeachers/Juan.jpg"
                            alt="">
                    </div>

                    <div class="info grid items-center justify-center">
                        <span class="block text-center mt-5 mb-2 font-bold">Juan Ignacio Oviedo Pino</span>
                        <span class="block text-center font-semibold -400 italic mb-3">Docente OTC Facultad Ciencias Contables, Económicas y Administrativas</span>
                    </div>
                </div>

                <div class="card bg-card3  p-8 card-hover">
                    <div
                        class="image rounded-full flex justify-center items-center bg-cover bg-no-repeat bg-center overflow-hidden">
                        <img class="h-24 w-24 rounded-full" src="../../../../../../assets/landing-page/imagesTeachers/MauroSanchez.jpg"
                            alt="">
                    </div>
                    <div class="info grid items-center justify-center">
                        <span class="block text-center mt-5 mb-2 font-bold">Mauro Andrés Sanchez Muñóz</span>
                        <span class="block text-center font-semibold  italic mb-3">Docente OTC Facultad Ciencias Contables, Económicas y Administrativas</span>
                    </div>
                </div>

                <div class="card bg-card4  p-8 card-hover">
                    <div
                        class="image rounded-full flex justify-center items-center bg-cover bg-no-repeat bg-center overflow-hidden">
                        <img class="h-24 w-24 rounded-full" src="../../../../../../assets/landing-page/imagesTeachers/LibardoMejorOpcion.jpg"
                            alt="">
                    </div>

                    <div class="info grid items-center justify-center">
                        <span class="block text-center mt-5 mb-2 font-bold">Wilson Libardo Pantoja Yepes</span>
                        <span class="block text-center font-semibold  italic mb-3">Asesor  del proyecto en el diseño y arquitectura del software.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="title animation">
            <h3 class="text-center text-3xl mt-10 mb-5 text-white font-bold flex flex-col items-center justify-center ">
                <img class="inline-block max-w-44" src="../../../../../../assets/Iconos/icons-landing/wired-gradient-1326-command-window-line.gif" alt="">
                <span class="inline-block mt-5">&lt; Desarrolladores /&gt;</span>
            </h3>
        </div>

        <div class="img-grupo flex flex-col opm:grid sg:grid-cols-2 justify-center items-center w-11/12 rounded-2xl relative mb-40 animation">
            <div class="image-group w-full h-96 sg:h-full col-span-1">
                <img *ngFor="let image of images; let i = index" [src]="image.src" alt="Imagen" class="carousel-image"
                    [class.active]="i === currentIndex" [class.prev]="i === prevIndex">
            </div>
            <div class="information flex items-center justify-center flex-col w-full col-span-1">
                <img class="hidden sg:block" src="../../../../../../assets/Iconos/puñoLogo.png" alt="">
                <h2 class="text-3xl mb-8">{{ images[currentIndex].title }}</h2>
                <p class="text-lg w-9/12">{{ images[currentIndex].description }}</p>
                <div class="indicators flex space-x-2 mt-4">
                    <span *ngFor="let image of images; let i = index" [class.active-indicator]="i === currentIndex"
                        class="indicator"></span>
                </div>
            </div>
        </div>
    </section>
</div>
