<div class="bg-gradient-to-b from-blue-900 to-white flex items-center justify-center min-h-screen px-2 sm:px-6 lg:px-8">
  <div class="bg-white shadow-xl rounded-lg flex overflow-hidden w-full max-w-4xl">

    <!-- Lado izquierdo: Formulario de inicio de sesión -->
    <div class="w-full lg:w-1/2 flex flex-col items-center justify-center p-8">
      <form (ngSubmit)="onLoginUser()" class="w-full">
        <div class="flex lg:hidden flex-col items-center justify-center mb-6">
          <img src="../../../../../../assets/Iconos/contapp-logo.svg" alt="CONT APP Logo" class="w-32 h-32 logo-md-sm" />
          <h1 class="color-title text-lg font-bold mt-4">CONT APP</h1>
        </div>
        <h1 class="text-gray-700 text-xl lg:text-2xl font-bold mb-4">Iniciar Sesión</h1>
        <div class="mb-4">
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="email"
            placeholder="Correo Electrónico"
            formControlName="usu_email"
            id="email_usuario"
          />
        </div>
        <div class="mb-4">
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="password"
            placeholder="Contraseña"
            formControlName="usu_password"
            id="password_usuario"
          />
        </div>
        <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline lg:w-auto" type="submit">
          Ingresar
        </button>
      </form>
    </div>

    <!-- Lado derecho: Logos, línea divisoria y título -->
    <div class="hidden lg:flex w-1/2 bg-blue-900 flex-row items-center justify-center p-4">
      <!-- Logo de CONT APP y su título -->
      <div class="flex flex-col items-center justify-center">
        <img src="../../../../../../assets/Iconos/contapp-logo.svg" alt="CONT APP Logo" class="w-32 h-32 logo-lg" />
        <h1 class="text-white text-lg font-bold">CONT APP</h1>
      </div>

      <!-- Línea divisoria -->
      <div class="bg-white mx-4" style="width: 2px; height: 80%;"></div>

      <!-- Logo de la Universidad del Cauca -->
      <img src="../../../../../../assets/Iconos/logo-unicauca.svg" alt="UNICAUCA Logo" class="w-40 h-40 logo-lg" />
    </div>

  </div>
</div>
