<!-- tax-edit.component.html -->

<div class="px-14 py-5 bg-gray-100 font-projectFont">

    <h1 class="text-2xl font-bold text-blue-950 mt-8">Edición de Impuesto</h1>
  
    <div class="p-4 col-span-1 w-full flex items-end justify-end text-lg">
      <button class="flex items-center justify-center h-10 min-w-14 rounded-xl bg-blue-950 text-white px-4 relative" (click)="goBack()">
        <span class="rounded-full bg-white w-6 h-6 flex items-center justify-center mr-2">
          <i class="fas fa-arrow-left text-blue-950"></i>
        </span>
      </button>
    </div>

    
  
    <div class="container mx-auto mt-8">
      <div class="grid grid-cols-1 m-6 gap-6">
        <div class="p-4 bg-white rounded shadow">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="code" class="block text-sm font-medium text-gray-700">Código:</label>
                <input type="text" formControlName="code" id="code" placeholder="Ej: IVA"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                <div *ngIf="editForm.get('code')?.touched && editForm.get('code')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('code')?.errors?.['required']">El campo Código es requerido.</div>
                </div>
              </div>
              <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Descripción:</label>
                <input type="text" formControlName="description" id="description" placeholder="Ej: Impuesto al Valor Agregado"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                <div *ngIf="editForm.get('description')?.touched && editForm.get('description')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('description')?.errors?.['required']">El campo Descripción es requerido.</div>
                </div>
              </div>
              <div>
                <label for="interest" class="block text-sm font-medium text-gray-700">Tarifa:</label>
                <input type="number" formControlName="interest" id="interest" min="0" placeholder="Ej: 10"
                  class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
                <div *ngIf="editForm.get('interest')?.touched && editForm.get('interest')?.invalid" class="text-red-500">
                  <div *ngIf="editForm.get('interest')?.errors?.['required']">El campo Interés es requerido.</div>
                  <div *ngIf="editForm.get('interest')?.errors?.['min']">El Interés no puede ser negativo.</div>
                </div>
              </div>
              <div>
                <label for="depositAccountId" class="block text-sm font-medium text-gray-700">Cuenta</label>
                <!-- <select formControlName="depositAccountId" id="depositAccountId"
                        class="mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    <option value="" disabled selected>Selecciona una cuenta</option>
                    <option *ngFor="let account of depositAccounts" [value]="account.id">{{ account.id }}</option>
                </select> -->
                <ng-select 
                formControlName="depositAccountId" id="depositAccountId"
                  [items]="depositAccounts || []"
                  bindLabel="description"
                  bindValue="id"
                  [searchable]="true"
                  [searchFn]="customSearchFn"
                  placeholder=""
                  class="mt-1 p-2 block w-full rounded-md text-black bg-white border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                  <option value="">Selecciona una opción</option>
                  <ng-template ng-option-tmp let-item="item">
                    <div class="p-2 hover:bg-gray-100">{{item.code}}-{{ item.description }}</div>
                  </ng-template>
                </ng-select>
                <div *ngIf="editForm.get('depositAccountId')?.touched && editForm.get('depositAccountId')?.invalid"
                     class="text-red-500">
                    <div *ngIf="editForm.get('depositAccountId')?.errors?.['required']">El campo Cuenta es requerido.</div>
                </div>
            </div>

            <div>
              <label for="refundAccountId" class="block text-sm font-medium text-gray-700">Cuenta Devolución:</label>
              <ng-select 
              formControlName="refundAccountId" id="refundAccountId"
                [items]="refundAccounts || []"
                bindLabel="description"
                bindValue="id"
                [searchable]="true"
                [searchFn]="customSearchFn"
                placeholder=""
                class="mt-1 p-2 block w-full rounded-md text-black bg-white border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                <option value="">Selecciona una opción</option>
                <ng-template ng-option-tmp let-item="item">
                  <div class="p-2 hover:bg-gray-100">{{ item.code }} - {{ item.description }}</div>
                </ng-template>
              </ng-select>
              <div *ngIf="editForm.get('refundAccountId')?.touched && editForm.get('refundAccountId')?.invalid"
                   class="text-red-500">
                  <div *ngIf="editForm.get('refundAccountId')?.errors?.['required']">El campo Cuenta Devolución es requerido.</div>
              </div>
          </div>
          
  
            <div>
              <button type="submit" class="buttonsC h-10 w-auto">
                Guardar Cambios
              </button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  