<div class="fixed inset-0 z-40 bg-black bg-opacity-50" (click)="closePopUp()"></div>
<div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none flex items-center justify-center">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="bg-white rounded-lg shadow-lg">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-gray-200 rounded-t">
        <h3 class="text-2xl font-semibold text-gray-900">
          {{ inputData.title }}
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-red-500 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="closePopUp()">
          <span class="text-2xl">×</span>
        </button>
      </div>
      <!--body-->
      <form [formGroup]="thirdForm" class="p-8">
        <div class="grid grid-cols-3 gap-8">
          <div class="flex justify-items-center space-x-6">
            <img src="../../../../../../assets/Iconos/third-parties/third-partie-icon-default.png" alt="Icon" class="w-32 h-32 ">
          </div>
          <div>
            <p class="font-semibold">Tipo Identificación *</p>
                  <select formControlName="typeId"
                    class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    (change)="onTypeIdChange($event)">
                    <option value="" disabled selected>Seleccione un tipo de identificación</option>
                    <option *ngFor="let typeId of typeIds" [value]="typeId.typeId">{{ typeId.typeIdname }}</option>
                  </select>
                  <div class="text-red-600"
                    *ngIf="thirdForm.get('typeId')?.invalid && (thirdForm.get('typeId')?.dirty || thirdForm.get('typeId')?.touched)">
                    El Tipo De Identificación Es Requerido
                  </div>
          </div>
          <div class="space-y-2">
            <p class="font-semibold">Número Identificación *</p>
            <div class="flex items-center">
                <input formControlName="idNumber" type="number"
                    class="flex-1 px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Ingrese el número de identificación">
                    <div *ngIf="thirdForm.get('verificationNumber')?.enabled" class="relative ml-2">
                      <input formControlName="verificationNumber" type="number"
                          class="w-14 text-center h-10 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                          [value]="verificationNumber" readonly
                          onmouseover="this.nextElementSibling.style.display='block';" 
                          onmouseout="this.nextElementSibling.style.display='none';">
                      
                      <div class="absolute text-center hidden bg-blue-600 text-white rounded-lg p-1 w-24 -translate-x-1/2 left-1/2" style="bottom: 120%;">
                          Digito de verificacion
                      </div>
                    </div>
            </div>
          </div>
          <div class="mb-5 w-1/2"> <!-- Estado -->
            <label class="block font-semibold mb-2">Estado *</label>
            <div class="flex gap-4">
              <label class="flex items-center">
                <input type="radio" formControlName="state" value="Activo" checked
                  class="mr-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span class="font-semibold">Activo</span>
              </label>
              <label class="flex items-center">
                <input type="radio" formControlName="state" value="Inactivo"
                  class="mr-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <span class="font-semibold">Inactivo</span>
              </label>
            </div>
          </div>
          <div>
            <ng-select [items]="thirdTypes"
                       bindLabel="thirdTypeName"
                       [multiple]="true"
                       [clearable]="false"
                       [placeholder]="'Seleccione tipos de terceros'"
                       formControlName="thirdTypes"
                       class="border border-gray-400 rounded-md px-3 py-1 mt-1 w-full min-h-9"
                       (change)="onThirdTypeSelect($event)">
              <ng-template ng-option-tmp let-item="item">
                <div class="py-2 px-4 cursor-pointer hover:bg-blue-950 hover:text-white bg-white">
                  {{ item.thirdTypeName }}
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div>
            <label class="block text-gray-700 text-sm font-semibold mb-2" for="personType">Tipo Persona *</label>
            <div class="flex space-x-4">
              <app-check-button 
                [isChecked]="thirdForm.get('personType')?.value === 'Juridica'" 
                (isCheckedChange)="onCheckChange('Juridica')" 
                texto="Jurídica" 
                tailConfig="w-32">
              </app-check-button>

              <app-check-button 
                [isChecked]="thirdForm.get('personType')?.value === 'Natural'" 
                (isCheckedChange)="onCheckChange('Natural')" 
                texto="Natural" 
                tailConfig="w-32">
              </app-check-button>
            </div>
            
            <div class="text-red-600 mt-1"
                 *ngIf="thirdForm.get('personType')?.invalid && (thirdForm.get('personType')?.dirty || thirdForm.get('personType')?.touched)">
              El Tipo De Persona Es Requerido
            </div>
          </div>
          
          
          <div  *ngIf="thirdForm.get('personType')?.value === 'Natural'">
            <label class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
            <input type="text" formControlName="names" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div  *ngIf="thirdForm.get('personType')?.value === 'Natural'">
            <label class="block text-gray-700 text-sm font-bold mb-2">Apellidos:</label>
            <input type="text" formControlName="lastNames" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <div  *ngIf="thirdForm.get('personType')?.value === 'Juridica'">
            <label class="block text-gray-700 text-sm font-bold mb-2">Razón Social:</label>
            <input type="text" formControlName="socialReason" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          <!--
          <div>
            <label class="block text-gray-700 text-sm font-bold mb-2">Número de verificación:</label>
            <input type="text" formControlName="verificationNumber" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
          </div>
          -->
          <div *ngIf="thirdForm.get('personType')?.value !== 'Juridica'">
            <p class="font-semibold">Género *</p>
                    <select formControlName="gender"
                      class="px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                      (change)="onTypeIdChange($event)">
                      <option value="Masculino">Masculino</option>
                      <option value="Femenino" selected>Femenino</option>
                      <option value="Otro">Otro</option>
                    </select>
          </div>
          <div>
            <p class="font-semibold">País *</p> 
            <select (change)="onCountryChange($event)" formControlName="country"
              class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
              <option value="" disabled selected>Seleccione un país</option>
              <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
            </select>
            <div class="text-red-600"
              *ngIf="thirdForm.get('country')?.invalid && (thirdForm.get('country')?.dirty || thirdForm.get('country')?.touched)">
              El país es requerido
            </div>            
          </div>
          <div>
            <p class="font-semibold">Departamento *</p>
            <select (change)="onStateChange($event)" formControlName="province"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="" disabled selected>Seleccione un departamento</option>
            <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
            </select>        
            <div class="text-red-600"
              *ngIf="thirdForm.get('province')?.invalid && (thirdForm.get('province')?.dirty || thirdForm.get('province')?.touched)">
              El Departamento es requerido
            </div>
          </div>
          <div>
            <p class="font-semibold">Ciudad *</p>
              <select formControlName="city"
                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option value="" disabled selected>Seleccione una ciudad</option>
                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
              </select>
              <div class="text-red-600"
                *ngIf="thirdForm.get('city')?.invalid && (thirdForm.get('city')?.dirty || thirdForm.get('city')?.touched)">
                La Ciudad es requerida
              </div>
          </div>
          <div>
            <p class="font-semibold">Dirección *</p>
              <input formControlName="address" type="text"
                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Ingrese la dirección">
              <div class="text-red-600"
                *ngIf="thirdForm.get('address')?.invalid && (thirdForm.get('address')?.dirty || thirdForm.get('address')?.touched)">
                La Dirección es requerida
              </div>
          </div>
          <div>
            <p class="font-semibold">Celular *</p>
              <input formControlName="phoneNumber" type="tel" 
                pattern="^[0-9]*$" 
                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Ej: 3123456789" 
                required>
              
              <div class="text-red-600"
                *ngIf="thirdForm.get('phoneNumber')?.invalid && 
                        (thirdForm.get('phoneNumber')?.dirty || thirdForm.get('phoneNumber')?.touched)">
                <ng-container *ngIf="thirdForm.get('phoneNumber')?.errors?.['required']">
                  El Teléfono Celular es Requerido
                </ng-container>
                <ng-container *ngIf="thirdForm.get('phoneNumber')?.errors?.['pattern']">
                  Solo se permiten ingresar números en el Celular
                </ng-container>
              </div>
          </div>
          <div>
            <p class="font-semibold">Correo *</p>
              <input formControlName="email" type="email"
                class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="ejemplo@dominio.com">
              <div class="text-red-600"
                *ngIf="thirdForm.get('email')?.invalid && (thirdForm.get('email')?.dirty || thirdForm.get('email')?.touched)">
                <ng-container *ngIf="thirdForm.get('email')?.errors?.['required']">
                  El Correo es Requerido
                </ng-container>
                <ng-container *ngIf="thirdForm.get('email')?.errors?.['email']">
                  Formato de Correo Incorrecto ( ejemplo&#64;dominio.com)
                </ng-container>
              </div>
          </div>
        </div>
      </form>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-gray-200">
        <button class="m-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out" type="button" (click)="closePopUp()">
          CANCELAR
        </button>
        <button class="m-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out" type="submit" (click)="OnSubmit()">
          GUARDAR
        </button>
      </div>
    </div>
  </div>
</div>
