<mat-card class="mx-8 my-8 p-4 shadow-lg rounded-lg">
  <mat-card-header class="flex items-center mb-2 gap-2">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <section>
      <mat-card-title class="text-4xl text-blue-950">
        Creación de Unidad de Medida
      </mat-card-title>
    </section>
  </mat-card-header>

  <mat-card-content>
    <p class="mt-4">
      Ingrese la información requerida para crear una nueva Unidad de Medida:
    </p>
    <form [formGroup]="unitOfMeasureForm" (ngSubmit)="onSubmit()" class="space-y-4 mt-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Nombre -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Ej: Kilogramo" formControlName="name" required />
          <mat-error *ngIf="unitOfMeasureForm.get('name')?.hasError('required')">
            El campo Nombre es requerido.
          </mat-error>
        </mat-form-field>

        <!-- Descripción -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="Ej: Unidad de medida de masa" formControlName="description" required />
          <mat-error *ngIf="unitOfMeasureForm.get('description')?.hasError('required')">
            El campo Descripción es requerido.
          </mat-error>
        </mat-form-field>

        <!-- Abreviatura -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Abreviatura</mat-label>
          <input matInput placeholder="Ej: Kg" formControlName="abbreviation" required />
          <mat-error *ngIf="unitOfMeasureForm.get('abbreviation')?.hasError('required')">
            El campo Abreviatura es requerido.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Botón de envío -->
      <div class="flex justify-start">
        <button mat-raised-button color="primary" type="submit">
          Crear Unidad
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
