/* Contenedor principal con fondo y transición */
.container-image {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../../../../../../assets/wallpapers/abstract.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.container-logo {
  filter: grayscale(100%); /* Convertir la imagen a blanco y negro */
  filter: brightness(10000%);
  filter: brightness(0) invert(1);
}

.typewriter h1,
.typewriter p {
  overflow: hidden;
  border-right: 0.15em solid orange; /* The typewriter cursor */
  white-space: nowrap;
  margin: 0 auto; /* Keeps the text centered */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.1s step-end infinite;
}

/* .text-animator {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
} */

.selected {
  font-weight: bold; /* Ejemplo de estilo: texto en negrita */
  color: rgb(177, 0, 0); /* Ejemplo de estilo: color rojo */
  border-bottom: 1px solid  rgb(177, 0, 0) ;
}

.selected:hover{
  font-weight: bold; /* Ejemplo de estilo: texto en negrita */
  color: rgb(255, 255, 255); /* Ejemplo de estilo: color rojo */
  border-bottom: 1px solid  transparent ;
}



.service {
  transition: transform 0.3s ease-in-out;
}

.service:hover {
  transform: scale(1.3);
}

.underline-animation {
  position: relative;
  cursor: pointer;
}

/* Opcional: Estilos para el efecto de escritura */
.typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.button-login:hover{
  border-color: rgb(0, 0, 248);
  color: rgb(27, 27, 254);
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: rgb(27, 27, 254);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  opacity: 0.6; /* Difuminado */
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

.service {
  color: #ecf0f1; /* Texto en color claro para mejor legibilidad */
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.title{
  height: 50vh;
}

.service:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Aumentar sombra al hacer hover */
}


.service .name {
  font-size: 1.25rem; /* Tamaño de fuente más grande para el nombre */
  font-weight: 300; /* Mayor peso para el nombre */
}

.cursor {
  display: inline-block;
  background-color: white; /* Color del cursor */
  width: 2px;
  animation: blink 0.4s infinite;
}

/* Animación del cursor */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (min-width: 640px) {
  .services-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .services-container {
      grid-template-columns: repeat(4, 1fr);
  }
}

/* Definición de la animación */

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
