<div class="fixed inset-0 z-40 bg-black bg-opacity-50" (click)="closePopUp()"></div>
<div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none flex items-center justify-center">
  <div class="relative w-auto my-6 mx-auto max-w-4xl">
    <!--content-->
    <div class="bg-white rounded-lg shadow-lg">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-gray-200 rounded-t">
        <h3 class="text-2xl font-semibold text-gray-900">
          {{ inputData.title }}
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-red-500 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="closePopUp()">
          <span class="text-2xl">×</span>
        </button>
      </div>
      <!--body-->
      <div class="p-6 space-y-6">
        <div class="flex items-center space-x-6">
          <img src="../../../../../../assets/Iconos/third-parties/third-partie-icon-default.png" alt="Icon" class="w-32 h-32">
          <div class="flex-1">
            <p class="text-md font-medium text-gray-800">Tipo de ID: {{ thirdData.typeId.typeId}}</p>
            <p class="text-md font-medium text-gray-800">Tipos de Tercero: {{ thirdData.thirdTypes[0].thirdTypeName}}</p>
            <p class="text-md font-medium text-gray-800">Tipo de Persona: {{ thirdData.personType }}</p>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <p *ngIf="thirdData.personType === 'Natural'" class="text-md font-medium text-gray-800">Nombre Completo: {{ thirdData.names }} {{thirdData.lastNames}}</p>
          <p *ngIf="thirdData.personType === 'Juridica'" class="text-md font-medium text-gray-800">Razón Social: {{ thirdData.socialReason }}</p>
          <p class="text-md font-medium text-gray-800">Género: {{ thirdData.gender }}</p>
          <p class="text-md font-medium text-gray-800">Número de ID: {{ thirdData.idNumber }}</p>
          <p class="text-md font-medium text-gray-800">Número de Verificación: {{ thirdData.verificationNumber }}</p>
          <p class="text-md font-medium text-gray-800">Estado: {{ thirdData.state ? 'Activo' : 'Inactivo' }}</p>
          <p class="text-md font-medium text-gray-800">País: {{ thirdData.country }}</p>
          <p class="text-md font-medium text-gray-800">Provincia: {{ thirdData.province }}</p>
          <p class="text-md font-medium text-gray-800">Ciudad: {{ thirdData.city }}</p>
          <p class="text-md font-medium text-gray-800">Dirección: {{ thirdData.address }}</p>
          <p class="text-md font-medium text-gray-800">Teléfono: {{ thirdData.phoneNumber }}</p>
          <p class="text-md font-medium text-gray-800">Email: {{ thirdData.email }}</p>
          <p class="text-md font-medium text-gray-800">Fecha de Creación: {{ thirdData.creationDate }}</p>
          <p class="text-md font-medium text-gray-800">Fecha de Actualización: {{ thirdData.updateDate }}</p>
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-gray-200">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-150 ease-in-out" type="button" (click)="closePopUp()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
