<mat-card class="mx-8 my-8 p-4 shadow-lg rounded-lg">
  <div class="p-4 col-span-1 w-full flex items-end justify-end text-lg">
    <button class="rounded-full bg-button-default text-button-text-default hover:bg-button-hover focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium text-sm pr-3 py-2.5 pl-4 text-center me-2 max-h-10 text-white cursor-pointer relative overflow-hidden flex items-center justify-center transition duration-300" (click)="goBack()">
      <span class="rounded-full bg-white w-6 h-6 flex items-center justify-center mr-2">
        <i class="fas fa-arrow-left text-blue-950"></i>
      </span>
    </button>
  </div>
  <div class="mb-6 self-start">
    <h1 class="text-3xl blueP1 font-bold">Crear Producto</h1>
  </div>


  <mat-card-content>
    <p class="mt-4 font-titillium">
      Ingrese la información requerida para crear un nuevo producto:
    </p>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="md:col-span-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nombre:</mat-label>
            <input
              matInput
              formControlName="itemType"
              id="tipoItem"
              placeholder="Ej: Banano"
            />
            <mat-error *ngIf="productForm.get('itemType')?.touched && productForm.get('itemType')?.invalid">
              <span *ngIf="productForm.get('itemType')?.errors?.['required']">
                El campo Nombre es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Referencia:</mat-label>
            <input
              matInput
              formControlName="reference"
              id="reference"
              placeholder="Ej: tropical"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Descripción:</mat-label>
            <input
              matInput
              formControlName="description"
              id="descripcion"
              placeholder="Ej: Fruta"
            />
            <mat-error *ngIf="productForm.get('description')?.touched && productForm.get('description')?.invalid">
              <span *ngIf="productForm.get('description')?.errors?.['required']">
                El campo Descripción es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Cantidad:</mat-label>
            <input
              matInput
              type="number"
              formControlName="quantity"
              id="quantity"
              min="0"
              placeholder="Ej: 1"
            />
            <mat-error *ngIf="productForm.get('quantity')?.touched && productForm.get('quantity')?.errors">
              <span *ngIf="productForm.get('quantity')?.errors?.['required']">
                El campo Cantidad es requerido.
              </span>
              <span *ngIf="productForm.get('quantity')?.errors?.['min']">
                La Cantidad no puede ser negativa.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Porcentaje de IVA (%):</mat-label>
            <input
              matInput
              type="number"
              formControlName="taxPercentage"
              id="taxPercentage"
              min="0"
              max="100"
              placeholder="Ej: 0 - 100"
            />
            <mat-error *ngIf="productForm.get('taxPercentage')?.touched && productForm.get('taxPercentage')?.invalid">
              <span *ngIf="productForm.get('taxPercentage')?.errors?.['required']">
                El campo Porcentaje de IVA es requerido y debe estar entre 0 y 100.
              </span>
              <span *ngIf="productForm.get('taxPercentage')?.errors?.['min']">
                El Porcentaje de IVA no puede ser negativo.
              </span>
              <span *ngIf="productForm.get('taxPercentage')?.errors?.['max']">
                El Porcentaje de IVA no puede ser mayor que 100.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Unidad de Medida:</mat-label>
            <mat-select formControlName="unitOfMeasureId" id="unitOfMeasureId">
              <mat-option value="">Selecciona una unidad de medida</mat-option>
              <mat-option *ngFor="let unit of unitOfMeasures" [value]="unit.id">
                {{ unit.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('unitOfMeasureId')?.touched && productForm.get('unitOfMeasureId')?.invalid">
              <span *ngIf="productForm.get('unitOfMeasureId')?.errors?.['required']">
                El campo Unidad de Medida es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Categoría:</mat-label>
            <mat-select formControlName="categoryId" id="categoryId">
              <mat-option value="">Selecciona una categoría</mat-option>
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.get('categoryId')?.touched && productForm.get('categoryId')?.invalid">
              <span *ngIf="productForm.get('categoryId')?.errors?.['required']">
                El campo Categoría es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Costo $:</mat-label>
            <div class="relative">
              <input
                matInput
                formControlName="cost"
                id="cost"
                min="0"
                placeholder="Ej: 12.000"
                inputmode="numeric"
                (input)="formatcost($event)"
                class="pl-8 pr-1 py-2"
              />
            </div>
            <mat-error *ngIf="productForm.get('cost')?.touched && productForm.get('cost')?.invalid">
              <span *ngIf="productForm.get('cost')?.errors?.['required']">
                El campo Costo es requerido.
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tipo de Producto:</mat-label>
            <mat-select formControlName="productTypeId" id="productTypeId">
              <mat-option value="">Selecciona un tipo de producto</mat-option>
              <mat-option *ngFor="let productType of productTypes" [value]="productType.id">
                {{ productType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <button type="submit" class="rounded-full bg-button-default text-button-text-default hover:bg-button-hover focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium text-sm pr-3 py-2.5 pl-4 text-center me-2 max-h-10 text-white cursor-pointer relative overflow-hidden flex items-center justify-center transition duration-300">
            Crear Producto
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
