/* your-component.component.css */
::ng-deep .ng-select {
    background-color: white; /* Fondo blanco para el componente ng-select */
  }
  
  ::ng-deep .ng-select .ng-select-container {
    background-color: white; /* Fondo blanco para el contenedor del ng-select */
    color: black; /* Texto en negro para contraste */
  }
  
  ::ng-deep .ng-select .ng-select-container .ng-input {
    color: black; /* Texto en negro para contraste */
  }
  
  ::ng-deep .ng-select .ng-dropdown-panel {
    background-color: white; /* Fondo blanco para el panel desplegable */
    color: black; /* Texto en negro para contraste */
  }
  
  