<app-header></app-header>
<div class="flex">
  <app-sidebar>
  </app-sidebar>
  <div class="flex flex-col bg-gray-ligth">
    <router-outlet></router-outlet>
    <div class="flex flex-row">
    <!-- Botones de ejemplo de uso de clases de TW
    <button class="buttonsC h-10 w-auto">Crear Tercero</button>
    <app-check-button value="hola" texto="hola" tailConfig="m-2 p-2 h-10 w-auto"></app-check-button>
    <select class="selectsC h-10 w-auto" name="select">
      <option value="value1">Value 1</option>
      <option value="value2" selected>Value 2</option>
      <option value="value3">Value 3</option>
    </select> -->
    </div>
  </div>
</div>
