<!-- Botones para agregar producto, categoría y unidad -->
<div class="">
  
  <div class="flex justify-start gap-4 mt-4">
    <!-- Barra de búsqueda 
  <div
    class="flex flex-grow items-center bg-white border border-gray-300 rounded-lg overflow-hidden"
  >
    <input
      type="text"
      class="w-full py-2 px-4 focus:outline-none"
      placeholder="Buscar producto..."
    /> 
    <button class="buttonsC h-10 w-auto">Buscar</button>
  </div>-->
  <div class="px-4">
    <span class="text-4xl text-subtitle">productos</span>
  </div>
  <button
      class="buttonsC h-10 w-auto"
      (click)="redirectTo('product-creation')"
    >
      Agregar Producto
    </button>
    <button
      class="buttonsC h-10 w-auto"
      (click)="redirectTo('agregar-categoria')"
    >
      Categorías
    </button>
    <button class="buttonsC h-10 w-auto" (click)="redirectTo('agregar-unidad')">
      Unidades de medida
    </button>
  </div>
  <div class="lg:text-md mx-auto w-[90%]">
    <app-datatable [columns]="columns" [data]="products"></app-datatable>
  </div>

  <!-- 
<!-- Verificar si hay productos disponibles 
<div *ngIf="products && products.length > 0; else noProducts" class="my-4">
  <!-- Iterar sobre la lista de productos 

  <div *ngFor="let product of products" class="bg-gray-100 rounded-lg p-4 mb-4">
    <!-- Mostrar los datos del producto 
    <h3 class="text-xl font-bold">{{ product.itemType }}</h3>
    <p class="text-gray-700">{{ product.description }}</p>
    <p class="text-gray-700">Precio: {{ product.price }}</p>
    <!-- Agregar más campos según sea necesario 
  </div>
</div>
-->
  <!-- Manejar caso de lista vacía -->
  <ng-template #noProducts>
    <p class="text-gray-700">No hay productos disponibles.</p>
  </ng-template>
</div>
