.bg-blue-950 {
    background-color: #1e3a8a !important;
}

.mat-flat-button {
    color: white; /* Color del texto */
    border-radius: 12px; /* Bordes redondeados */
} 

.bold-text {
    font-weight: bold;
}
  

.button-flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  
.button-container {
    display: flex;
    justify-content: center;
    width: 100px;
}
  
.view-button-container,
.edit-button-container,
.delete-button-container {
display: flex;
    justify-content: center;
}
  
.mat-mini-fab {
    border: 1px solid rgba(0, 0, 0, 0.12); /* Añade un borde a los botones */
}
  
.mat-icon {
    color: inherit; /* Asegúrate de que el color del icono herede el color del botón */
}
  