<div class="flex flex-col justify-start items-center m-10">
<div class="mb-6 self-start">
  <span class="text-4xl text-blue-950 self-start">Productos</span>
</div>

<div class="container-buttons-search grid grid-cols-2 w-full mb-4 items-center justify-center  mx-4 py-2">
  <div class="border-b-2 border-blue-800 rounded-md w-4/5 col-span-1 flex">
      <svg
        class="h-6 w-6 text-blue-500 mr-2"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" y1="21" x2="16.65" y2="16.65" />
      </svg>
      <form [formGroup]="form" class="flex justify-start items-start">
        <input
          type="text"
          class="mb-2 w-full outline-none bg-transparent"
          id="stringSearch"
          placeholder="Buscar"
          name="stringSearch"
          formControlName= "stringSearch"
        />
      </form>
    </div>

    <div class="gap-2 col-span-1 w-full flex items-end justify-end text-lg">

      <button
        mat-flat-button color="primary"
        class="h-10 p-1 min-w-14 block rounded-xl bg-blue-950 text-white"
        (click)="redirectTo('/general/operations/product-types')"
      >
        Tipo de Productos
      </button>
      <button
        mat-flat-button color="primary"
        class="h-10 p-1 min-w-14 block rounded-xl bg-blue-950 text-white"
        (click)="redirectTo('/general/operations/categories')"
      >
        Categorías
      </button>
      <button
        mat-flat-button color="primary"
        class="h-10 p-1 min-w-14 block rounded-xl bg-blue-950 text-white"
        (click)="redirectTo('/general/operations/unities')"
      >
        Unidades
      </button>
      <button
        mat-flat-button color="primary"
        class="h-10 p-1 min-w-14 block rounded-xl bg-blue-950 text-white"
        (click)="redirectTo('/general/operations/products/create')"
      >
        Agregar
      </button>
    </div>    
  </div>
  <div class="lg:text-md mx-auto w-full">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> ID </th>
          <td mat-cell *matCellDef="let prod"> {{prod.id}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Código </th>
          <td mat-cell *matCellDef="let prod"> {{prod.code}} </td>
        </ng-container>

        <ng-container matColumnDef="itemType">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Nombre </th>
          <td mat-cell *matCellDef="let prod"> {{prod.itemType}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Descripción </th>
          <td mat-cell *matCellDef="let prod"> {{prod.description}} </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Costo x Unidad </th>
          <td mat-cell *matCellDef="let prod"> {{formatCost(prod.cost)}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Cantidad </th>
          <td mat-cell *matCellDef="let prod"> {{prod.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="unitOfMeasure">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Unidad </th>
          <td mat-cell *matCellDef="let prod"> {{getUnitOfMeasureName(prod.unitOfMeasureId)}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Categoría </th>
          <td mat-cell *matCellDef="let prod"> {{getCategoryName(prod.categoryId)}} </td>
        </ng-container>

        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Referencia </th>
          <td mat-cell *matCellDef="let prod"> {{prod.reference}} </td>
        </ng-container>

        <ng-container matColumnDef="productType">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Tipo de producto </th>
          <td mat-cell *matCellDef="let prod"> {{getProductTypeName(prod.productType)}} </td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="bold-text"> Acciones </th>
          <td mat-cell *matCellDef="let prod">
            <div class="button-flex-container">
              <div class="button-container ">
                <button mat-min-fab color="primary"
                class="h-8 p-1 min-w-10 block w-20 rounded-xl bg-gray-500 mr-2 relative overflow-hidden"
                (click)="openDetailsModal(prod.id)">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-min-fab color="primary" 
                class="h-8 p-1 min-w-10 block w-20 rounded-xl bg-yellow-500 mr-2 relative overflow-hidden"
                (click)="redirectToEdit(prod.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-min-fab color="primary" 
                class="h-8 p-1 min-w-10 block w-20 rounded-xl bg-red-500 mr-2 relative overflow-hidden"
                (click)="deleteProduct(prod.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10]"
            showFirstLastButtons
            aria-label="Select page of products">
      </mat-paginator>
    </div>
  </div>
  <!-- Manejar caso de lista vacía -->
  <ng-template #noProducts>
    <p class="text-gray-700">No hay productos disponibles.</p>
  </ng-template>
</div>
