<div class="flex w-full  h-4/5 font-projectFont mb-5" *ngIf="id !== '-1'">
    <div class="container max-w-full mx-auto px-7 sg:px-16 py-10 w-full">
        <div class="container__title text-center sm:text-left grid grid-cols-1 justify-between mx-4 sg:grid-cols-2 ">
            <div class="title">
                <h1 class="text-3xl font-bold  text-blue-950">Inicio</h1>
                <p class="text-base mb-3 sg:mb-7 ">Bienvenido a su empresa!!!</p>
            </div>

            <div class="button-add grid-cols-1 flex justify-center sg:justify-end">
                <button type="button" (click)="goToListEnterprises()"
                    class="bg-gradient-to-r from-blue-950 to-blue-700 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-6 py-2.5 text-center me-2 mb-7 sg:mb-2 max-h-10 text-white">
                    Regresar
                </button>
            </div>
        </div>

        <aside class="options col-span-1 m-4   sg:hidden">
            <div class="list-options p-4 grid grid-cols-1 mm:grid-cols-3 justify-center text-center">
                <div class="edit rounded-lg bg-gray-200 p-2 mb-4">
                    <p class="text-blue-950 font-bold">Mi empresa</p>
                </div>
                <div class="edit mb-3 p-2">
                    <button (click)="goToEditEnterprise()" class="text-gray-500 font-semibold text-base">Editar</button>
                </div>
                <div class="edit mb-3 p-2">
                    <a (click)="archiveEnterprise()" class="text-red-500 font-bold text-base cursor-pointer">Archivar</a>
                </div>
            </div>
        </aside>

        <div class="container__info bg-white grid p-7 pr-0 rounded-xl shadow-lg">
            <div class="container-divider grid grid-cols-1 sg:grid-cols-5">
    
                <div class="main col-span-4  pr-5">
                    <div
                        class="main-detailsn grid grid-cols-1 im:col-span-4 sg:grid-cols-5 bg-white border border-gray-300 rounded-lg max-w-full justify-center  items-center p-6 text-center sg:text-start">
                        <div class="logo col-span-1 im:col-span-2 opm:col-span-1 grid justify-center sg:justify-normal mb-4 ">
                            <img *ngIf="enterpriseSelected?.logo != ''; else defaultLogo"
                                class="rounded-full w-21 h-21 im:w-24 im:h-24 sg:w-32 sg:h-32 object-cover shadow-sm" [src]="enterpriseSelected?.logo" alt="" />
                            <ng-template #defaultLogo>
                                <img class="rounded-full w-21 h-21 object-cover shadow-sm"
                                    src="../../../../../../assets/Iconos/enterprise/icon-default.png"
                                    alt="Logo por defecto" />
                            </ng-template>
                        </div>

                        <div class="more-info col-span-1 im:col-span-2  sg:col-span-2 sg:ml-5 opm:ml-0">
                            <p class="font-bold text-xl">{{enterpriseSelected?.name}}</p>
                            <p>Nit: {{enterpriseSelected?.nit}}</p>
                            <p>{{enterpriseSelected?.location?.department?.name}}, {{enterpriseSelected?.location?.city?.name}}</p>
                        </div>
                    </div>

                    <div class="general-details grid grid-cols-1 justify-start bg-white border border-gray-300 rounded-lg max-w-full  items-center p-6 sg:p-12 mt-7">
                        <div class="title mb-6">
                            <h2 class="font-bold text-lg text-center sg:text-start">Información general</h2>
                        </div>

                        <div class="content grid grid-cols-1 sg:grid-cols-2 sg:gap-16">
                            <div class="column-1 col-span-1">
                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Nombre de la empresa</p>
                                    <p class="text-lg">{{enterpriseSelected?.name}}</p>
                                </div>

                                <div class="detail mb-4" *ngIf="enterpriseSelected?.personType?.type === 'NATURAL_PERSON'">
                                    <p class="text-gray-500 mb-2">Nombre del propietario</p>
                                    <p class="text-lg">{{enterpriseSelected?.personType?.name}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Tipo de empresa</p>
                                    <p class="text-lg"> {{enterpriseSelected?.enterpriseType?.name}}</p>
                                </div>

                                
                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Tipo de persona</p>
                                    <p class="text-lg"> {{typePerson}}</p>
                                </div>
                            </div>

                            <div class="column-2 col-span-1">
                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">NIT</p>
                                    <p class="text-lg"> {{enterpriseSelected?.nit}}</p>
                                </div>

                                <div class="detail mb-4" *ngIf="enterpriseSelected?.personType?.type === 'NATURAL_PERSON'">
                                    <p class="text-gray-500 mb-2" >Apellido del propietario</p>
                                    <p class="text-lg">{{enterpriseSelected?.personType?.surname}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Tipo de contribuyente</p>
                                    <p class="text-lg"> {{enterpriseSelected?.taxPayerType?.name}}</p>
                                </div>

                                <div class="detail mb-4" *ngIf="enterpriseSelected?.personType?.type === 'LEGAL_PERSON'">
                                    <p class="text-gray-500 mb-2">Razon social</p>
                                    <p class="text-lg"> {{enterpriseSelected?.personType?.bussinessName}}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="aditional-details grid grid-cols-1 justify-start bg-white border border-gray-300 rounded-lg max-w-full  items-center p-6 mt-7 sg:p-12">
                        <div class="title mb-6 w-full">
                            <h2 class="font-bold text-lg">Información adicional</h2>
                        </div>

                        <div class="content grid grid-cols-1 sg:grid-cols-2 sg:gap-16 ">
                            <div class="column-1 col-span-1">
                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Responsabilidades tributarias</p>
                                    <p class="text-lg" *ngFor="let item of enterpriseSelected?.taxLiabilities"> {{item.name}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">País</p>
                                    <p class="text-lg">{{enterpriseSelected?.location?.country?.name}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Departamento</p>
                                    <p class="text-lg">{{enterpriseSelected?.location?.department?.name}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Ciudad</p>
                                    <p class="text-lg">{{enterpriseSelected?.location?.city?.name}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Tiene sucursales</p>
                                    <p class="text-lg">No</p>
                                </div>
                            </div>

                            <div class="column-2 col-span-1">
                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Dirección</p>
                                    <p class="text-lg">{{enterpriseSelected?.location?.address}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Teléfono</p>
                                    <p class="text-lg">{{enterpriseSelected?.phone}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Email</p>
                                    <p class="text-lg">{{enterpriseSelected?.email}}</p>
                                </div>

                                <div class="detail mb-4">
                                    <p class="text-gray-500 mb-2">Digito de verificación</p>
                                    <p class="text-lg">{{enterpriseSelected?.dv}}</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

                <aside class="options col-span-1  mr-0 border-l-2 hidden sg:block">
                    <div class="list-options p-4 grid justify-center text-center">
                        <div class="edit rounded-lg bg-gray-200 p-2 mb-4">
                            <p class="text-blue-950 font-bold">Mi empresa</p>
                        </div>
                        <div class="edit mb-3">
                            <a (click)="goToEditEnterprise()" class="text-gray-500 font-semibold text-base cursor-pointer">Editar</a>
                        </div>
                        <div class="edit mb-3">
                            <a (click)="archiveEnterprise()" class="text-red-500 font-bold text-base cursor-pointer">Archivar</a>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>

</div>