<div class="flex flex-col justify-start items-center m-10">
  <div class="mb-6 self-start">
    <h1 class="text-3xl text-blue-950 font-bold">Impuestos</h1>
</div>

  
  
    <div class="lg:text-md mx-auto w-full">

      <div class="flex justify-end mt-4">
        <button class="rounded-full bg-button-default text-button-text-default hover:bg-button-hover focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium text-sm pr-3 py-2.5 pl-4 text-center me-2 max-h-10 text-white cursor-pointer relative overflow-hidden flex items-center justify-center transition duration-300"
                (click)="redirectTo('/general/operations/taxes/create')">
          
          Agregar
          <i class="fas fa-plus-circle ml-2"></i>
        </button>
      </div>
      
      
      <div class="overflow-x-auto mt-8">
        <table class="min-w-full divide-y divide-grayP2">
          <thead class="bg-grayP2">
            <tr>
              <th *ngFor="let col of columns" class="px-6 py-3 text-h5 text-blueP1 font-bold text-left font-titillium">
                {{ col.title }}
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-grayP2">
            <tr *ngFor="let tax of taxes" class="hover:bg-gray-ligth">
              <td class="px-6 py-4 whitespace-nowrap text-body2">{{ tax.code }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-body2">{{ tax.description }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-body2">{{ tax.interest }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-body2">{{ tax.depositAccount }}</td>
              <td class="px-6 py-4 whitespace-nowrap text-body2">{{ tax.refundAccount }}</td>
              <td class="py-4 whitespace-nowrap flex justify-center items-center">
                <button 
                  class="px-3 py-1.5 rounded-button bg-button-default hover:bg-button-hover mr-2 relative overflow-hidden text-button text-white font-semibold"
                  (click)="redirectToEdit(tax.code)">
                  <span class="material-icons flex justify-center items-center">edit</span>
                  <span class="text-button absolute inset-0 flex justify-center items-center opacity-0 hover:opacity-100 transition-opacity">
                    Editar
                  </span>
                </button>
                
                <button 
                  class="px-3 py-1.5 rounded-button bg-red-500 hover:bg-red-600 relative overflow-hidden text-button text-white font-semibold"
                  (click)="redirectToDelete(tax.id)">
                  <span class="material-icons flex justify-center items-center">delete</span>
                  <span class="text-button absolute inset-0 flex justify-center items-center opacity-0 hover:opacity-100 transition-opacity">
                    Eliminar
                  </span>
                </button>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
      

   
  
    <!-- Manejar caso de lista vacía -->
    <ng-template #noTaxes>
      <p class="text-gray-700">No hay impuestos disponibles.</p>
    </ng-template>
  </div>
  