.help-container {
  position: relative;
  display: inline-block;
}

.help-symbol {
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
}

.tooltip-container {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

.tooltip-input {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}






/*****************/


.help-icon {
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
  color: blue; /* Color del icono */
  font-weight: bold; /* Resalta el ícono */
  margin-bottom: 10px; /* Espacio entre el ícono y el texto */
}

.help-text {
  position: absolute; /* Para que el cuadro se posicione basado en las coordenadas del mouse */
  z-index: 1000; /* Para asegurarte de que aparezca por encima de otros elementos */
  max-width: 300px; /* Ajusta este valor según el tamaño deseado */
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Ajusta el texto dentro del cuadro */
  white-space: normal; /* Para que el texto haga saltos de línea */
}
.edit-input {
  width: 100%;
  box-sizing: border-box;
}



/*******************/
.tooltip-box {
position: absolute;
background-color: #fff;
border: 1px solid #ccc;
padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 1000;
}

.modal {
position: absolute;
background-color: #fff;
border: 1px solid #ccc;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
z-index: 1000;
}

.modal-content {
display: flex;
flex-direction: column;
}

.close {
align-self: flex-end;
cursor: pointer;
font-size: 20px;
font-weight: bold;
}

.modal-content h2 {
margin-bottom: 10px;
}

.modal-content input[type="text"] {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.modal-content button {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

.modal-content button:hover {
background-color: #0056b3;
}